<div class="information-card__body-section">
    <h3 class="information-card__section-title">Comments</h3>
    <div class="information-card__comment" ng-repeat="comment in comments">
        <div class="information-card__dive-actions">
            <a href
                class="overlay-action-item"
                ng-if="userID === comment.owner.id"
                ng-click="vm.summonEditCommentModal(comment, $index)">
                <span class="fa fa-stack">
                    <i class="fa fa-stack-2x fa-circle background"></i>
                    <i class="fa fa-stack-1x fa-edit"></i>
                </span>
            </a>
            <a href
                class="overlay-action-item"
                ng-if="userID === comment.owner.id"
                ng-click="vm.summonConfirmCommentDeletionModal(comment, $index)">
                <span class="fa fa-stack">
                    <i class="fa fa-stack-2x fa-circle background"></i>
                    <i class="fa fa-stack-1x fa-trash"></i>
                </span>
            </a>
        </div>

        <div class="information-card__dive-header">
            <div class="information-card__dive-image" ng-show="comment.owner.profileImageUrl">
                <!-- width and height seem to need hard-coding -->
                <img height="60" width="60" ng-src="{{ comment.owner.profileImageUrl }}" />
            </div>
            <div class="information-card__dive-image--none" ng-show="!comment.owner.profileImageUrl">
                <i class="fa fa-fw fa-user fa-3x"></i>
            </div>
            <div class="information-card__dive-details">
                <div>
                    <a href="/#/users/{{comment.owner.id}}/">{{ comment.owner.name }}</a>
                </div>
                <div>
                    {{ comment.creation_date | date:'d MMM yyyy HH:mm' }}
                </div>
            </div>
        </div>

        <div class="information-card__dive-comment" ng-bind-html="comment.text | markdown">
        </div>

    </div>
    <div ng-if="vm.isAuthenticated()" class="information-card__comment-form">
        <form name="vm.commentForm" novalidate>
            <textarea name="comentText" class="form-control"
                ng-model="vm.comment.text"
                ></textarea>
            <div class="ds-form__submit-row">
                <button ng-click="vm.submit()" class="btn btn-primary"
                    ng-disabled="!vm.comment.text || vm.isSubmitting"
                    >
                    <span ng-cloak ng-if="vm.isSubmitting">
                        <i class="fa fa-spin fa-spinner"></i>
                    </span>
                    <span ng-cloak ng-if="!vm.isSubmitting">
                        Submit
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>
