.about-us__header,
.about-us__content {
  // Bump up default font-size
  font-size: 20px;
}

.about-us__smalltext {
  font-size: 14px;
}

.about-us__column-image {
  display: block;
  max-width: 80px;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.about-us__statistics-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
  @media (min-width: $screen-sm-min) {
    flex-direction: row;
  }
  .statistics {
    text-align: center;
  }
  .statistics__number {
    font-size: 200%;
  }
}
