.action-menu {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
  margin-bottom: 8px;
  &__action-item {
    flex: 1;
    text-align: center;
    &:hover {
      background-color: darken(#fff, 15%);
    }
  }
  &__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 16px;
    text-decoration: none !important;
    &.well {
      background-color: darken(#fff, 30%);
      //background: darken($well-bg, 10%);
    }
  }
  &__text {
    margin-top: 4px;
  }
}
