.add-site .angular-google-map-container {
  //width: 200px;
  width: 100%;
  height: 200px;
  max-height: 200px;
}
.add-site {
  &__title,
  &__map-section,
  &__details,
  &__comment,
  &__submit
  {
    padding-left: 32px;
    padding-right: 32px;
  }
  &__title {
    margin-bottom: 16px;
  }
}
.add-site__map-container {
  width: 100%;
}
