.collapse-header {
  align-items: center;
  color: #333;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  padding-left: 8px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: darken(#333, 15%);
  }
  &__text {
  }
  &__chevron {
    margin-left: auto;
    margin-right: 32px;
    transition: transform 300ms;
    &.opened {
      transform: rotate(-180deg);
    }
  }
}
