.collapse-header {
  align-items: center;
  color: #333;
  &.has-collapse {
    cursor: pointer;
    &:hover {
      background: rgba(0, 0, 0, 0.17);
    }
  }
  display: flex;
  font-size: 16px;
  margin-top: 8px;
  text-decoration: none !important;

  margin-left: -$information-card-body-padding;
  margin-right: -$information-card-body-padding;
  padding-left: $information-card-body-padding;
  padding-right: $information-card-body-padding;
  padding-top: 8px;
  padding-bottom:8px;

  &:hover {
    text-decoration: none;
    color: darken(#333, 15%);
  }
  &__text {
    width: 50%;
    @media (min-width: $screen-sm-min) {
      width: 40%;
    }
  }
  &__value {
    width: 40%;
    @media (min-width: $screen-sm-min) {
      width: 40%;
    }
  }
  &__chevron-container {
    width: 10%;
    text-align: right;
    @media (min-width: $screen-sm-min) {
      width: 10%;
    }
  }
  &__chevron {
    transition: transform 300ms;
    &.opened {
      transform: rotate(-180deg);
    }
  }
}
.collapse-body {
  margin-top: 8px;
}
