.collapse-header {
  align-items: center;
  color: #333;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: darken(#333, 15%);
  }
  &__text {
    width: 40%;
    @media (min-width: $screen-sm-min) {
      width: 50%;
    }
  }
  &__value {
    width: 40%;
    @media (min-width: $screen-sm-min) {
      width: 40%;
    }
  }
  &__chevron-container {
    width: 40%;
    text-align: right;
    @media (min-width: $screen-sm-min) {
      width: 10%;
    }
  }
  &__chevron {
    transition: transform 300ms;
    &.opened {
      transform: rotate(-180deg);
    }
  }
}
