.comment {
  margin-bottom: 16px;
  position: relative;
}

.comment__actions {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.comment__details {
  padding-left: 8px;
  position: relative;
  width: 100%;
}

.comment__header {
  display: flex;
}

.comment__profile-image {
  display: block;
  height: 60px !important;
  width: 60px !important;
}

.comment__profile-image--none {
  align-items: center;
  background: rgba(0, 0, 0, 0.17);
  display: flex;
  height: 60px !important;
  justify-content: center;
  width: 60px !important;
}

.comment__text {
  margin-top: 8px;
  padding-right: 32px;
}
