.information-card {
  .dive {
    padding: 8px 0px;
  }
  .dive__comment {
    margin-top: 16px;
    clear: both;
  }
  .dive__diver {
    font-size: 14px;
  }
  .dive__details {
    float: left;
    padding-left: 12px;
    font-size: 12px;
  }
  .dive__date,
  .dive__depth,
  .dive__duration {
    color: rgba(0, 0, 0, 0.56);
  }
  .dive__diver-image {
    float: left;
    height: 54px;
    width: 54px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.26);
  }
}
