.edit-site {


  &__title,
  &__map-section,
  &__details,
  &__description,
  &__submit
  {
    padding-left: 32px;
    padding-right: 32px;
  }
  &__title {
    margin-bottom: 16px;
  }
  &__submit {
    padding-bottom: 32px;
  }
}
.edit-site__map-container {
  width: 100%;
}
