.editable-site-map__centre-marker {
  position: absolute;
  &.divesite {
    background: url(/img/divesite.svg) no-repeat;
  }
  &.compressor {
    background: url(/img/compressor.svg) no-repeat;
  }
  &.slipway {
    background: url(/img/slipway.svg) no-repeat;
  }
  top: 50%;
  left: 50%;
  z-index: 1;
  // These are magic numbers based on the size of the SVGs
  margin-left: calc(-29px / 2);
  margin-top: -41.25px;
  height: 41.25px;
  width: 29px;
}
.editable-site-map-container {
  .angular-google-map-container {
    width: 100%;
    height: 400px;
  }
}
.editable-site-map__coordinates {
  align-items: baseline;
  display: flex;
}
.editable-site-map__coordinate-input {
  width: 40%;
}
.editable-site-map__coordinate-axis {
  margin-left: 0.5em;
  font-size: 150%;
  width: 10%;
}
