/*
 * Style rules for the editable site map that appears when adding or
 * editing a site (divesite, compressor, slipway, etc.)
 *
 * Because we're actually using the Google map object's centre as the
 * site's location, we want the marker SVG itself to be statically positioned
 * with the pin pointing to the map's centre. Based on the site type,
 * we give the marker a class that determines the SVG that we use.
 *
 */

.editable-site-map__centre-marker {
  position: absolute;
  &.divesite {
    background: url(/img/divesite.svg) no-repeat;
  }
  &.compressor {
    background: url(/img/compressor.svg) no-repeat;
  }
  &.slipway {
    background: url(/img/slipway.svg) no-repeat;
  }
  top: 50%;
  left: 50%;
  z-index: 1;
  // For positioning, use magic numbers based on SVG sizes
  margin-left: calc(-$map-marker-width / 2);
  margin-top: -$map-marker-height;
  height: $map-marker-height;
  width: $map-marker-width;
}

/* Style the editable map container */
.editable-site-map-container {
  .angular-google-map-container {
    width: 100%;
    height: 400px;
  }
}

/* The container for the coordinate inputs */
.editable-site-map__coordinates {
  align-items: baseline;
  display: flex;
}

/* This is the input that allows users to add coordinates by hand */
.editable-site-map__coordinate-input {
  width: 40%;
}

/* The axes are 'N'/'E' */
.editable-site-map__coordinate-axis {
  margin-left: 0.5em;
  font-size: 150%;
  width: 10%;
}
