.filter-menu {
  position: absolute;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  left: 2em;
  //right: 2em;
  max-height: calc(100% - 100px);
  overflow-y: hidden;
  top: 6em;
  z-index: 4; // In front of information card and add-site button

  &.open {
    right: 2em;
  }

  @media (min-width: 48em) {
    //top: 80px;
    left: 80px;
    width: 250px;
    .open {
      right: initial;
    }
  }
}

.filter-menu__header {
  background: $blue-700;
  color: #fff;
  cursor: pointer;
  //padding-left: 16px;
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: none;
    color: #fff;
    //color: darken(#fff, 15%);
  }
  .filter-menu__header-chevron {
    margin-left: auto;
    margin-right: 16px;
    font-size: 16px;
    transition: transform 100ms;
    transform: rotate(180deg);
  }
  &.collapsed .filter-menu__header-chevron {
    transform: rotate(0deg);
  }
}

.filter-menu__header-text {
  margin: 8px 16px;
}
.filter-menu__content.in {
  overflow-y: auto;
}
.filter-menu__content {
}
.filter-menu__section {
  border-top: solid 1px rgba(0, 0, 0, 0.16);
  padding: 8px 16px;
}
.filter-menu__section-header {
  font-size: 16px;
  margin: 0 0 8px 0;
}
.filter-menu__depth-range-slider-container {
  display: flex;
  align-items: center;
  .slider-horizontal {
    width: 100% !important;
  }
}
.filter-menu__depth-range-slider-value {
  margin-left: 16px;
  font-weight: 300;
  font-size: 20px;
}
