
.floating-menu__header {
  background: $blue-700;
  color: #fff;
  cursor: pointer;
  //padding-left: 16px;
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: none;
    color: #fff;
    //color: darken(#fff, 15%);
  }
}

.filter-menu__category {
  margin-top: 4px;
  padding: 2px 4px;
  label {
    transition: background 200ms;
    width: 100%;
  }
  &:hover {
    background: $blue-700--0_17;
    cursor: pointer;
    label {
      cursor: pointer;
      /* width: 100%; */
    }
  }
}

.filter-menu__category-icon {
  height: 24px;
  transition: opacity 200ms;
}
.filter-menu__category-icon.muted {
  opacity: 0.5;
}

.filter-menu__header-text {
  margin: 8px 16px;
}
.filter-menu__section {
  border-top: $border-default;
  padding: 8px 8px;
}
.filter-menu__section-header {
  font-size: 16px;
  margin: 0 0 8px 0;
}
.filter-menu__depth-range-slider-container {
  display: flex;
  align-items: center;
  .slider-horizontal {
    width: 100% !important;
  }
}
.filter-menu__depth-range-slider-value {
  margin-left: 16px;
  font-weight: 300;
  font-size: 20px;
}
