// TODO: clean all of this up

.add-something-menu {
  $top: 14em;
  max-height: calc(100% - #{$top} - 1em);
  left: 2em;
  top: $top;
  z-index: 4;
}

.filter-menu {
  $top: 10em;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - #{$top} - 1em);
  // overflow-y: hidden;
  top: $top;
  left: 2em;
  z-index: 5;
}

.floating-menu {
  /* Shared by filter and add-something menus */

  position: absolute;

  /* ugh, this seems to be a hacky way to force the scrollable div to scroll... */
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-md-min) {
    @include shadow-2dp;
    width: 24em;
    .open {
      right: initial;
    }
  }
}

.floating-menu.open {
  @include shadow-2dp;
  overflow-y: hidden;
  right: 2em;
}

.floating-menu__content {
  background: #fff;
}
.floating-menu__content.in {
  overflow-y: auto;
}

.floating-menu-container {
  position: absolute;
  top: 6em;
  left: 2em;
  right: 2em;
  z-index: 1;
  .filter-menu {
    margin-bottom: 1em;
  }
  @media (min-width: $screen-md-min) {
    right: initial;
  }
}

.floating-menu__icon {
  font-size: initial;
  margin-left: calc(1.28571429em / 2);
  margin-right: calc(1.28571429em / 2);
}

.floating-menu.open {
  .floating-menu__icon--when-open {
    display: initial;
  }
  .floating-menu__icon--when-closed {
    display: none;
  }
  .floating-menu__header--xs {
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    justify-content: flex-start;
    .header-text {
      display: initial;
    }
  }
}
