.add-something-menu {
  top: 14em;
  left: 2em;
  z-index: 4;
}

.filter-menu {
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 100px);
  // overflow-y: hidden;
  top: 10em;
  left: 2em;
  z-index: 5;
}

.search-menu {
  top: 6em;
  left: 2em;
  z-index: 6;
}
.search-menu__dropdown-menu {
  border: 0;
  margin-top: 0;
  padding-top: 0;
  position: initial;
  width: 100%;
}

.floating-menu {
  /* Shared by filter and add-something menus */

  position: absolute;

  &.open {
    @include shadow-2dp;
    overflow-y: hidden;
    right: 2em;
  }
  @media (min-width: $screen-md-min) {
    @include shadow-2dp;
    width: 24em;
    .open {
      right: initial;
    }
  }
  &__content {
    background: #fff;
  }
  &__content.in {
    overflow-y: auto;
  }
}

.floating-menu-container {
  position: absolute;
  top: 6em;
  left: 2em;
  right: 2em;
  z-index: 1;
  .filter-menu {
    margin-bottom: 1em;
  }
  @media (min-width: $screen-md-min) {
    right: initial;
  }
}

.floating-menu__icon {
  font-size: initial;
  margin-left: calc(1.28571429em / 2);
  margin-right: calc(1.28571429em / 2);
}

.floating-menu.open {
  .floating-menu__icon--when-open {
    display: initial;
  }
  .floating-menu__icon--when-closed {
    display: none;
  }
  .floating-menu__header--xs {
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    justify-content: flex-start;
    .header-text {
      display: initial;
    }
  }
}

.floating-menu__icon--when-open {
  display: none;
}

.floating-menu__icon--when-closed {
  display: initial;
}

.floating-menu__header {
  background: $blue-700;
  color: #fff;
  cursor: pointer;
  text-decoration: none;

  &--xs {
    @include shadow-2dp;
    border-radius: calc(1.28571429em / 2);
    height: 1.28571429em;
    width: 1.28571429em;
    display: flex;
    align-items: center;
    font-size: 30px;
    right: initial;
    transition: border-top-left-radius 100ms, border-top-right-radius 100ms, width 100ms 100ms;
    .header-text {
      display: none;
    }
    @media (min-width: $screen-md-min) {
      display: none;
    }
  }
  &--md-min {
    display: none;
    @media (min-width: $screen-md-min) {
      display: flex;
    }
  }

  &:hover, &:active, &:focus {
    text-decoration: none;
    color: #fff;
  }

  .floating-menu__header-chevron {
    margin-left: auto;
    margin-right: 16px;
    font-size: 16px;
    transition: transform 100ms;
    transform: rotate(180deg);
  }
  &.collapsed .floating-menu__header-chevron {
    transform: rotate(0deg);
  }
}

.floating-menu__header-text {
  margin: 8px 16px;
}

.search-result__icon {
  width: 20px;
}

.search-result__text {
  margin-left: 8px;
}
