/*
 * Styles for the circular can-follow/is-following/unknown link
 * in the information card header
 */

/*
 * The viewing user is not following this user
 */
.can-follow {
  color: #fff;
  .background {
    color: $brand-primary;
    transition: color 200ms;
  }
}

/*
 * We don't know yet whether the viewing user is following this user
 */
.follow-unresolved {
  color: #fff;
  .background {
    color: rgba(0, 0, 0, 0.32);
    transition: color 200ms;
  }
}

/*
 * The viewing user is following this user
 */
.is-following {
  color: #fff;
  .background {
    color: $brand-success;
    transition: color 200ms;
  }
}
