.ds-form {
  padding-bottom: 32px;
}
.ds-form__submit-row {
  margin-top: 16px;
  text-align: right;
  // Space out row children
  & > :not(:last-child) {
    margin-right: 16px;
  }
}
.ds-form-group-lg {
  label {
    font-size: 20px;
    font-weight: 200;
  }
  input[type="text"] {
    font-size: 20px;
    height: auto;
  }
  &.has-feedback label ~ .form-control-feedback {
    top: 48px;
  }
}
