/*
 * Selectors with the ds- prefix indicate that these are
 * additional style rules specific to our site. They
 * take precedence over the default element-level rules
 * applied by Bootstrap.
 */

.ds-form {
  padding-bottom: 32px;
}

.ds-form__submit-row {
  margin-top: 16px;
  text-align: right;
  // Space out row children
  & > :not(:last-child) {
    margin-right: 16px;
  }
}

.ds-form-group-lg {
  font-size: 20px;
  input[type="text"] {
    height: auto;
  }
  &.has-feedback label ~ .form-control-feedback {
    // Positioning for units of measurement in inputs
    right: 8px;
    top: 38px;
  }
  .help-block {
    font-size: 14px;
  }
}

.ds-form-group__label {
  font-weight: 300;
}

.ds-form-control {
  font-size: 20px;
  height: auto;
  .btn {
    font-size: inherit;
  }
}

.has-feedback .ds-form-control {
  padding-right: $ds-feedback-width;
}

.ds-feedback {
  font-size: 20px;
  line-height: 1.42857143;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  width: $ds-feedback-width;
}

.ds-label--lg {
  font-size: 20px;
}

.ds-textarea {
  font-size: 20px;
}

/*
 * Overrides for complex radio groups involving inputs
 */
.ds-complex-radio {
  & > label {
    display: flex;
    & > input[type="radio"] {
      position: relative;
    }
  }
}
