/* 'information-card__*' namespace */
.information-card {

  /* Shared properties across all device sizes */
  background-color: #ffffff;
  overflow-y: hidden;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;

  /*
   * On small devices, the information card is initiallly
   * displayed collapsed, with only the title visible
   */
  bottom: 0;
  max-height: 100%;
  width: 100%;

  /*
   * On large devices, the information card is always full-height
   */
  @media (min-width: $screen-lg-min) {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 160px);
    max-width: calc(50% - 160px);
    overflow-y: hidden;
    right: 80px;
    top: 80px;
  }

  &.opened {
    // When the information card is opened on small devices,
    // it should take up the entire screen height, and the
    // chevron should flip to face down; the body should be
    // visible and should occlude everything else
    height: 100%;
    overflow-y: hidden;
    z-index: $z-index-max;
    .fa-chevron-up {
      transform: rotate(-180deg);
    }
    .information-card__body {
      display: block;
    }
  }

  &__section-title {
    margin: 16px 0 8px; // T H B
  }

  &__upload-thumbnail-container {
    $padding: 16px;
    $img-height: 200px;
    margin: 8px 0;
    text-align: center;
    padding: $padding 0;
    //height: calc($img-height + $padding * 2);
    min-height: 232px;
    background: rgba(0, 0, 0, 0.17);
  }


  &-chart-container {
    margin-bottom: 20px; // for x axis
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    .bar rect {
      fill: steelBlue;
      shape-rendering: crispEdges;
    }
    .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  }

  &__nearby-slipway {
    &:first-child {
      margin-top: 8px;
    }
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }


  /* Site images */

  &__divesite-image-section {
    border-top: solid 1px rgba(0, 0, 0, 0.16);
    margin-top: 16px;
    overflow-x: hidden;
    position: relative;
  }
  &__divesite-image-container {
    display: flex;
    overflow-x: auto;
    &.showing-grid {
      flex-wrap: wrap;
    }
  }
  &__divesite-image {
    cursor: pointer;
    margin: 8px 0px;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

// While the information card is loading, hide the scrollbars and blur content
.information-card--is-loading {
  .information-card__title,
  .information-card__body {
    filter: blur(2px);
  }
}

.information-card__body {
  display: none;
  overflow-y: auto;
  padding: $information-card-body-padding;

  @media (min-width: $screen-lg-min) {
    display: block;
  }

  /* No choice but to nest these as they're added and removed by Bootstrap */
  &.collapse, &.collapsing {
    @media (min-width: $screen-lg-min) {
      height: initial !important; // override bootstrap
      display: block !important; // never collapse on large screens
    }
  }
}

.information-card__body-section {
    border-top: solid 1px rgba(0, 0, 0, 0.16);
    margin-top: 16px;
  }

.information-card__chart {
  margin-bottom: 0px;
}

.information-card__dive {
  margin-bottom: 16px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 16px;
  padding: 4px;
  position: relative; // to allow absolute child positioning
}

.information-card__dive-actions {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10; // WHY?
}

.information-card__dive-comment {
  margin-top: 8px;
  padding-right: 32px;
}

.information-card__dive-details {
  position: relative;
  width: 100%;
  padding-left: 8px;
}

.information-card__dive-header {
  display: flex;
}

.information-card__dive-image {
  display: block;
  height: 60px !important;
  width: 60px !important;
}

.information-card__dive-image--none {
  display: flex;
  height: 60px !important;
  width: 60px !important;
  background: rgba(0, 0, 0, 0.17);
  align-items: center;
  justify-content: center;
}

.information-card__collapse-chevron {
  cursor: pointer;
  color: #fff !important;
  transition: transform 100ms;
}

.information-card__dismiss-button {
  cursor: pointer;
}

.information-card__header-actions {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1; // TODO: why do we need this?
}

.information-card__site-coordinate {
  &:not(:last-child) {
    padding-right: 1em;
  }
}

.information-card__site-description {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 20px;
}

.information-card__site-location {
  font-size: 20px;
  margin: 0;
}

.information-card__site-name {
  font-weight: 500;
  margin: 0;
  //margin: 16px;
}
.information-card__site-owner {
  margin: 16px;
  margin-left: 0;
  font-weight: 500;
  font-size: 14px;
  a {
    color: $blue-100;
  }
}

.information-card__site-statistics {
  margin-bottom: 16px;
}

.information-card__site-title {
  padding-top: 16px;
  // Title sits in front of floor-fade
  z-index: 1; 
}

.information-card__title {
  @include floor-fade();
  align-items: flex-end;
  background: $blue-700;
  color: #fff;
  cursor: pointer; // on small devices, this div collapses/uncollapses the info card
  display: flex;
  padding-left: 16px;
  min-height: 70px; // To allow for the modal-mask spinner
  position: relative;
  /* On medium devices,the title section has a minimum height */
  @media (min-width: $screen-md-min) {
    cursor: inherit;
    height: 200px;
  }
}

/* Show/hide image grid button */
.show-grid {
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, 0.17);
  }
  position: absolute;
  top: 8px;
  right: 0;
  padding: 8px;
}
