/* 'information-card__*' namespace */
.information-card {

  /* Shared properties across all device sizes */
  background-color: #ffffff;
  overflow-y: auto;
  position: absolute;
  z-index: 3;

  /*
   * On small devices, the information card is initiallly
   * displayed collapsed, with only the title visible
   */
  bottom: 0;
  max-height: 100%;
  width: 100%;

  /*
   * On large devices, the information card is always full-height
   */
  @media (min-width: $screen-lg-min) {
    // Card size and positioning
    max-height: calc(100% - 160px);
    max-width: 600px;
    right: 80px;
    top: 80px;
  }

  /* Header */

  /*
   * Header actions. On large devices, this is an 'x' whose ng-click
   * attribute binds to a 'dismiss' method; on smaller devices, this
   * is a chevron that collapses/uncollapses the information card
   */
  &__header-actions {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1; // TODO: why do we need this?
    &--screen-lg {
      display: none;
      @media (min-width: $screen-lg-min) {
        display: initial;
      }
    }
    &--mobile {
      display: initial;
      @media (min-width: $screen-lg-min) {
        display: none;
      }
    }
  }

  &__collapse-chevron {
    pointer: cursor;
    color: #fff !important;
    &.opened .fa-chevron-up {
      transition: transform 100ms;
      transform: rotate(-180deg);
    }
  }

  &__title {
    @include floor-fade();
    align-items: flex-end;
    background: $blue-700;
    color: #fff;
    display: flex;
    padding-left: 16px;
    position: relative;
    /* On large devices,the title section has a minimum width */
    @media (min-width: $screen-lg-min) {
      height: 200px;
    }
  }

  &__site-title {
    padding-top: 16px;
    // Title sits in front of floor-fade
    z-index: 1; 
  }
  &__site-location {
    font-size: 20px;
    margin: 0;
  }
  &__site-name {
    font-weight: 500;
    margin: 0;
    //margin: 16px;
  }
  &__site-owner {
    margin: 16px;
    margin-left: 0;
    font-weight: 500;
    font-size: 14px;
    a {
      color: $blue-100;
    }
  }

  /* Statistics and metadata section */

  &__site-description {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 20px;
  }

  &__site-statistics {
    margin-bottom: 16px;
  }

  &__site-coordinate {
    &:not(:last-child) {
      padding-right: 1em;
    }
  }

  &__chart {
    margin-bottom: 0px;
  }


  /* Body */

  /*
   * The body of the information card. This is initially collapsed
   * (by markup) on small devices and opens on click; on large
   * devices it's never collapsed (but can be dismissed).
   */
  &__body {
    padding: $information-card-body-padding;
    &.collapse {
      @media (min-width: $screen-lg-min) {
        display: block !important; // never collapse on large screens
      }
    }
  }

  &__body-section {
    border-top: solid 1px rgba(0, 0, 0, 0.16);
    margin-top: 16px;
  }

  &__section-title {
    margin: 16px 0 8px; // T H B
  }

  &__upload-thumbnail-container {
    margin: 16px 0;
    text-align: center;
  }

  &__dive {
    margin-bottom: 16px;
    &[editable="true"]:hover {
      background: rgba(0, 0, 0, 0.17);
    }
    &__dive {
      //margin-top: 16px;
      //margin-bottom: 16px;
      margin-left: 4px;
      margin-right: 4px;
      margin-bottom: 16px;
      padding: 4px;
      &[editable="true"]:hover {
        background: rgba(0, 0, 0, 0.17);
      }
    }
    &-comment {
      margin-top: 8px;
      padding-right: 32px;
    }
    &-details {
      position: relative;
      width: 100%;
      padding-left: 8px;
    }
    &-header {
      display: flex;
    }
    &-image {
      display: block;
      height: 60px !important;
      width: 60px !important;
    }
  }

  &-chart-container {
    margin-bottom: 20px; // for x axis
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    .bar rect {
      fill: steelBlue;
      shape-rendering: crispEdges;
    }
    .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  }

  &__nearby-slipway {
    &:first-child {
      margin-top: 8px;
    }
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }


  /* Site images */

  &__divesite-image-section {
    border-top: solid 1px rgba(0, 0, 0, 0.16);
    margin-top: 16px;
    overflow-x: hidden;
    position: relative;
  }
  &__divesite-image-container {
    display: flex;
    overflow-x: auto;
    &.showing-grid {
      flex-wrap: wrap;
    }
  }
  &__divesite-image {
    margin: 8px 0px;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

/* Show/hide image grid button */
.show-grid {
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, 0.17);
  }
  position: absolute;
  top: 8px;
  right: 0;
  padding: 8px;
}
