.information-card {
  background-color: #ffffff;
  bottom: 0;
  //height: calc(100% - 50px);
  //max-height: 768px;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 3; // in front of filter menu? Also occludes dropdown...

  @media (min-width: 62em) {
    max-height: calc(100% - 160px);
    max-width: 512px;
    right: 80px;
    top: 80px;
  }

  .divesite-images__title,
  .dive-list__title {
    margin: 0;
    padding-left: 8px;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  &__chart {
    margin-bottom: 0px;
    &.chart-header {
      display: flex;
      cursor: pointer;
      color: #333;
      text-decoration: none;
      font-size: 20px;
      padding-left: 8px;
      &:hover {
        color: darken(#333, 15%);
      }
    }
    &.chart-header__text {
    }
    &.chart-header__chevron {
      margin-left: auto;
      margin-right: 32px;
      transition: transform 300ms;
      &.opened {
        transform: rotate(-180deg);
      }
    }
  }

  &__header-actions {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
  }
  &__dive {
    //margin-top: 16px;
    //margin-bottom: 16px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 16px;
    padding: 4px;
    &[editable="true"]:hover {
      background: rgba(0, 0, 0, 0.17);
    }
    &__dive {
      //margin-top: 16px;
      //margin-bottom: 16px;
      margin-left: 4px;
      margin-right: 4px;
      margin-bottom: 16px;
      padding: 4px;
      &[editable="true"]:hover {
        background: rgba(0, 0, 0, 0.17);
      }
    }
  }
  &__divesite-title {
    z-index: 1; // On top of floor-fade
  }
  &__title {
    align-items: flex-end;
    background: $blue-700;
    display: flex;
    position: relative;
    color: #fff;
    height: 200px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 8px;
    }
  }
  &-chart-container {
    margin-bottom: 20px; // for x axis
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    .bar rect {
      fill: steelBlue;
      shape-rendering: crispEdges;
    }
    .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  }
  &__dive-comment {
    margin-top: 8px;
    padding-right: 32px;
  }
  &__dive-details {
    position: relative;
    width: 100%;
    padding-left: 8px;
  }
  &__dive-header {
    display: flex;
  }
  &__dive-image {
    display: block;
    height: 60px !important;
    width: 60px !important;
  }
  &__dive-list {
    border-top: solid 1px rgba(0, 0, 0, 0.16);
  }
  &__site-coordinate {
  }
  &__site-coordinates {
    display: flex;
    font-size: 20px;
    justify-content: space-around;
  }
  &__divesite-images {
    border-top: solid 1px rgba(0, 0, 0, 0.16);
    overflow-x: hidden;
  }
  &__divesite-image-container {
    display: flex;
    overflow-x: auto;
  }
  &__divesite-image {
    margin: 8px;
  }
  &__site-description {
    margin-bottom: 16px;
    margin-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
  }
  &__site-name {
    font-weight: 500;
    margin: 16px;
  }
  &__site-owner {
    margin: 16px;
    font-weight: 500;
    font-size: 14px;
    a {
      color: $blue-100;
    }
  }
  &__site-title {
    z-index: 1; // On top of floor-fade
  }
  &__title {
    align-items: flex-end;
    background: $blue-700;
    display: flex;
    position: relative;
    color: #fff;
    height: 200px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 50%);
    }
  }
}
