/* Special layout stuff */

/*
 * Comments in lists, dives in logs, and so on should have a consistent
 * appearance with respect to border, margin, and padding
 */
.ds-discrete-bordered-item {
  // Border styles for dive and comment lists
  border: $border-strong;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding: 12px;
  position: relative;
}

/*
 * The positioning of action items (edit, delete) is consistent across the
 * site's design
 */
.ds-action-items {
  position: absolute;
  right: 20px; // Dodge scrollbars
  top: 8px;
  z-index: 1; // In front of its parent
}

// Full-width dropdown selects
.ds-btn-group--wide {
  width: 100%;
  button {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
  }
  ul {
    width: 100%;
    li {
      cursor: pointer;
      padding-left: 12px;
      transition: color 100ms, background 100ms;
      &:hover {
        color: #fff;
        background: $blue-700;
      }
    }
  }
}
