/* Special layout stuff */

.ds-discrete-bordered-item {
  // Border styles for dive and comment lists
  border: solid 1px rgba(0, 0, 0, 0.32);
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding: 12px;
  position: relative;
}

.ds-flex-row {
  display: flex;
  justify-content: space-between;
}
.ds-flex-row--wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

// Full-width dropdown selects
.ds-btn-group--wide {
  width: 100%;
  button {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
  }
  ul {
    width: 100%;
    li {
      cursor: pointer;
      padding-left: 12px;
      transition: color 100ms, background 100ms;
      &:hover {
        color: #fff;
        background: $blue-700;
      }
    }
  }
}
