/* Set our own styles for lightbox captions */
.lightbox-image-caption {
  background: rgba(0, 0, 0, 0.32);
  color: #fff;
  font-weight: inherit;
  // Move to the bottom
  top: initial;
  bottom: 0;
  padding: 4px;
  text-shadow: none;
  a {
    color: $blue-100;
  }
  span {
    background: transparent;
    box-shadow: none;
  }
}

.lightbox-image-caption__username {
  font-weight: 500;
}

/* Include a floor-fade on lightbox images */
.lightbox-image-container {
  @include floor-fade();
}
