.ld-form-control {
  font-size: 30px;
  height: auto;
}
.has-feedback .ld-form-control {
  padding-right: $ld-feedback-width;
}
.ld-feedback {
  font-size: 20px;
  line-height: 1.42857143;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  width: $ld-feedback-width;
}
