.main-map__add-site-button {
  position: absolute;
  z-index: 1;
  top: 80px;
  right: 16px;
  @media (min-width: 62em) {
    //bottom: 64px;
    //right: 64px;
  }
  .fa-stack-2x {
    color: $pink-500;
  }
  .fa-stack-1x {
    color: #fff;
  }
}
.add-something-menu {
  position: absolute;
  top: calc(80px + 37px);
  right: 16px + (37px / 2);
  z-index: 4; // in front of map and information card
  background: #fff;
  .list-group {
    margin: 0;
  }
  .list-group-item {
    border-radius: 0;
  }
  img.media-object {
    width: 36px;
    height: 36px;
  }
  .media-body {
    width: initial;
  }
}
