.main-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.main-map__add-site-button {
  position:absolute;
  right: 0;
  z-index: 1;
  @media (min-width: 62em) {
    //bottom: 64px;
    //right: 64px;
  }
  .fa-stack-2x {
    color: $pink-500;
  }
  .fa-stack-1x {
    color: #fff;
  }
}

add-something-menu {
  position: absolute;
  right: 2em;
  top: 6em;
  .add-something-menu {
    position: relative;
    top: 37px;
    z-index: 5; // in front of map and information card
    background: #fff;
  }
}
.map-context-menu {
  .list-group {
    margin: 0;
  }
  .list-group-item {
    border-radius: 0;
  }
  img.media-object {
    width: 36px;
    height: 36px;
  }
  .media-body {
    width: initial;
  }
}
.map-is-loading {
  font-size: 200%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.rc-context-menu {
  position: absolute;
}
