/*
 * The main map occupies the entire browser window
 */
.main-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*
 * This is a menu that allows signed-in users to add sites to the map.
 * It appears in two places: as a sub-menu of the hamburger menu,
 * and on right-clicking the map when the user is signed in
 */
.map-context-menu {
  right: initial;

  .list-group {
    margin: 0;
  }
  .list-group-item {
    border-radius: 0;
  }
  img.media-object {
    width: 36px;
    height: 36px;
  }
  .media-body {
    width: initial;
  }
}

/*
 * When the context menu is opened by right-clicking, it needs to be
 * absolutely positioned
 */
.map-context-menu.rc-context-menu {
  position: absolute;
}

/*
 * Show a loading message while we're waiting for the API to return
 * our sites
 */
.map-is-loading {
  font-size: 200%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
