// Fixes for iOS zoom problem. See:
// https://github.com/jschr/bootstrap-modal/issues/64#issuecomment-55794181
body {
  padding-right: 0px !important;
}

.modal-open {
  overflow-y: auto;
}

.modal-content {
  border-radius: 0;
}
.modal--vertical-center {
  display: flex !important; // override Bootstrap modal inline style
  align-items: center;
}
.modal-center {
  &.modal {
    display: flex !important; // override Bootstrap modal inline
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}

.cancel-editing {
  @extend .modal-center;
}

.sign-in {
  @extend .modal-center;
}

.lightbox-modal {
  @extend .modal-center;
}

.ds-modal {
  // default settings
  padding: 16px;
}
.ds-modal--is-working {
  .ds-modal__content {
    filter: blur(2px);
  }
}
.ds-modal__header {
  margin-top: 0;
  margin-bottom: 16px;
}
.ds-modal__title {
  font-size: 30px;
  margin: 0;
}
