.modal-center {
  &.modal {
    display: flex !important; // override Bootstrap modal inline
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}

.cancel-editing {
  @extend .modal-center;
}

.sign-in {
  @extend .modal-center;
}

.ds-modal {
  // default settings
  padding: 16px;
}

.ds-modal--is-working {
  // Blur the modal window's content while it's loading/saving/etc.
  .ds-modal__content {
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
}

.ds-modal__dismiss {
  position: absolute;
  top: 16px;
  right: 16px;
}

.ds-modal__header {
  margin-top: 0;
  margin-bottom: 16px;
}

.ds-modal__title {
  font-size: 30px;
  margin: 0;
  margin-right: 48px; // Avoid absolutely-positioned close button
}

.lightbox-modal {
  @extend .modal-center;
}

.modal-open {
  overflow-y: auto;
}

.modal-content {
  border-radius: 0;
}

.modal--vertical-center {
  display: flex !important; // override Bootstrap modal inline style
  align-items: center;
}
