.ds-brand {
  display: flex;
}

.ds-brand__icon {
  width: 24px;
  height: auto;
}

.ds-brand__text {
  font-size: 120%;
  font-weight: 500;
  margin-left: 4px;
}

.navigation-bar__main {
  z-index: 7; // in front of filter menu and add button
  border-radius: 0;
}

.navigation-bar__home-link {
    text-decoration: none;
    color: inherit;
}

.navbar-toggle {
  border-radius: 0;
}
