.hamburger-menu {
  align-items: flex-start; // Avoid flex-stretch
  bottom: 2em;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  pointer-events: none;
  position: absolute;
  // right: 2em;
  top: 6em;
  left: 2em;
  z-index: 1;

  .hamburger-menu__expand-icon {
    display: block;
  }
  .hamburger-menu__contract-icon {
    display: none;
  }
  .hamburger-submenu {
    z-index: 0;
  }
}

.hamburger-menu.opened {
  .hamburger-menu__expand-icon {
    display: none;
  }
  .hamburger-menu__contract-icon {
    display: block;
  }
  .hamburger-menu__icon {
  }
  .hamburger-submenu {
    opacity: 1;
  }
  .hamburger-submenu__icon {
    left: 0;
  }
}

.hamburger-menu__icon {
  @include link--undecorated();

  color: #fff;
  pointer-events: auto; // Override parent
  &:focus {
    color: #fff;
  }
  .background {
    color: $blue-700;
  }
  .dot {
    font-size: 25%;
  }
}

.hamburger-menu__submenu-list {
  display: flex;
  flex-direction: row;
}

.hamburger-submenu {
  opacity: 0;
  pointer-events: auto;
  transition: opacity 200ms linear;
}

.hamburger-submenu.selected {
  .hamburger-submenu__content {
    visibility: visible;
  }
  .hamburger-menu__icon {
    color: $blue-700;
    &:focus {
      color: $blue-700;
    }
    .background {
      color: #fff;
    }
  }
}

.hamburger-submenu__icon {
}
.hamburger-submenu__content {
  @include shadow-2dp;

  background: #fff;
  max-height: 100%;
  left: 0;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  visibility: hidden;
}
.hamburger-submenu__title {
  display: none;
}
