/*
 * These are circular Fontawesome spans that can sit over other content
 * (especially images).
 */

/*
 * The default is nearly transparent and becomes more opaque on hover
 */
.overlay-action-item {
  color: #fff;
  .background {
    color: rgba(0, 0, 0, 0.32);
    transition: background 200ms;
  }
  &:hover {
    color: #fff;
    .background {
      color: rgba(0,0, 0, 0.7);
    }
  }
  transition: color 200ms;
}

/*
 * The 'branded' ones are opaque and get darker on hover
 */
.overlay-action-item--blue {
  color: #fff;
  .background {
    color: $blue-700;
    transition: color 500ms;
  }
  &:hover {
    color: #fff;
    .background {
      color: darken($blue-700, 25%);
      transition: color 200ms;
    }
  }
  transition: color 200ms;
}
