.places-added__item {
  margin-top: 16px;
  margin-bottom: 16px;
}

.places-added__icon {
  display: flex;
  justify-content: flex-end;
  img {
  }
}

.places-added__name {
  font-size: 24px;
  margin: 0;
  line-height: 1.42857143;
}
