/*
 * Style rules for the profile tab menu, which is a vertical sidebar on screen-sm-min
 * displays and a horizontal tab menu on screen-xs displays
 */

/*
 * This is the ul element that wraps the tab menu that shows
 * the different profile sections
 */
.profile__sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (min-width: $screen-sm-min) {
    flex-direction: column;
    font-size: 30px;
  }
}

/*
 * This class controls the styling for the li element that wraps each
 * of the tab menu links
 */
.profile__sidebar-item {
  background: $blue-700;
  display: flex;
  margin: 0 8px 16px;
  transition: background 300ms;
  width: 100%;

  /* Style rules for sidebar items at screen-xs widths */

  /*
   * Style rules for sidebar items at screen-sm-min widths
   * that overrule xs rules
   */
  @media (min-width: $screen-sm-min) {
    margin-left: 0px;
    margin-right: 0px;
  }

  &:first-child {
    margin-left: 0px;
  }

  &:last-child {
    margin-right: 0px;
  }
}

/*
 * Bootstrap assigns the 'active' class to tab menu items when they're
 * displaying the tab they're linked to, so we'll use this extra class
 * to apply our own styles
 */
.profile__sidebar-item.active {
  background: #fff;
  color: $blue-700;
  a {
    color: $blue-700;
    &:active,
    &:hover,
    &:focus {
      color: $blue-700;
      background: #fff;
    }
  }
}

.profile__sidebar-link {
  color: #fff;
  font-size: 150%;
  font-weight: 500;
  padding: 8px 0px;
  text-align: center;
  text-decoration: none;
  transition: color 200ms, background 200ms;
  width: 100%;

  &:active,
  &:hover,
  &:focus {
    color: #fff;
    background: darken($blue-700, 30%);
    text-decoration: none;
  }

  /*
   * Links should look quite different when they're
   * sidebarred
   */
  @media (min-width: $screen-sm-min) {
    font-size: 100%;
    padding: 0px 16px;
    text-align: left;
  }
}

/*
 * Sidebar item text is hidden at screen-xs sizes and displayed
 * when the display switches to sidebar layout
 */
.sidebar-item__text {
  display: none;
  @media (min-width: $screen-sm-min) {
    display: initial;
  }
}
