.profile__header {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.profile__header-details {
  width: 100%;
  @media (min-width: 768px) {
    padding-left: 32px;
  }
}
.profile__header-image {
  img {
    width: 100%;
    height: auto;
    @media (min-width: 768px) {
      height: 318px;
      width: 318px;
    }
  }
}
.profile__header-name {
  margin-top: 0;
}
.profile__header-dive-stats-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.dive-stat {
  text-align: center;
  &:not(:last-of-type) {
    margin-right: 16px;
  }
}
.dive-stat__number {
  font-weight: 500;
  font-size: 200%;
}
.profile__activity {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}
.profile__activity-icon {
  font-size: 24px;
  padding-left: 8px;
}
.profile__activity-details {
  padding: 8px;
}
