.profile-header {
  margin-bottom: 32px;
}

.profile-header__about-me {
  font-size: 150%;
  font-weight: $font-weight--default;
  margin-bottom: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.profile-header__action-item {
  //width: 100%;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-header__action-menu {
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
}

.profile-header__details {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  @media (min-width: $screen-sm-min) {
    padding-left: 16px;
    padding-right: inherit;
  }
}

.profile-header-image {
  &__container {
    position: relative;
  }
}

.profile-header__dive-stats {
  align-items: baseline;
  border-top: $border-default;
  border-bottom: $border-default;
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-bottom: 8px;
  @media (min-width: $screen-sm-min) {
    border: 0;
  }
}

.profile-header__dive-stat {
  text-align: center;
  &__number {
    font-weight: 500;
    font-size: 200%;
  }
  &__desc {
    span.safari-fix {
       display: block;
      @media (min-width: $screen-sm-min) {
        display: inline;
      }
    }
  }
}

.profile-header__image {
  padding: 0;
  @media (min-width: $screen-sm-min) {
    text-align: right;
  }
  img {
    border: solid 1px rgba(0, 0, 0, 0.32);
    width: 100%;
    height: auto;
    @media (min-width: $screen-sm-min) {
    }
  }
}


.profile-header__image-edit-button {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
  .background {
    color: rgba(0, 0, 0, 0.32);
  }
}

.profile-header__name {
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 0;
  @media (min-width: $screen-sm-min) {
    margin-top: 0;
  }
}

.profile-header__name-row {
  display: flex;
  align-items: flex-end;
}

.profile-header--no-image__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  text-decoration: none;
  &:hover {
    background: rgba(0, 0, 0, 0.17);
    text-decoration: none;
    div {
      text-decoration: underline;
    }
  }
}

.profile-header--no-image-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-header--no-image-outer {
  width: 100%;
  padding: 50%;
  background: rgba(0, 0, 0, 0.17);
}
