.profile {
  padding-top: 48px;
  padding-bottom: 48px;
  section {
    &.section--center {
      max-width: 860px;
    }
    &:not(:last-of-type) {
      position: relative;
      margin-bottom: 48px;
    }
    & > header {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__dive-list .mdl-card {
    min-height: 0;
  }
  &__divesite-header {
    height: 178px;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
.profile__logged-dive {
  &:not(:last-of-type) {
    border-bottom: solid 1px rgba(0, 0, 0, 0.13);
  }
}
