/*
 * This should allow SVGs to resize nicely
 */
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  //padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
