.set-divesite-header-image-modal {
}

.set-header-image-modal__list {
  display: flex;
  flex-wrap: wrap;
}
.set-header-image-modal__list-item {
  border: solid 2px transparent;
  margin: 4px 4px;
  padding: 4px;
  &:hover {
    border: solid 2px rgba(0, 0, 0, 0.17);
  }
  &.selected {
    border: solid 2px $blue-700;
  }
  img {
    height: auto;
    width: 100%;
  }
}

.set-header-image-modal__action-item {
  border: solid 2px rgba(0, 0, 0, 0.17);
  height: 92px;
  margin: 4px;
  padding: 0;
  width: 92px;

  a {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
}
