.upload-profile-image-modal {
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  &--is-saving {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
  }
  .compare-images {
    h2 {
      text-align: center;
    }
    img: {
      width: 100%;
      height: auto;
    }
  }
}
