// $error-color: #a94442;

$blue-100: #e3f2fd;
$blue-500: #2196f3;
$blue-700: #1976d2;
$pink-500: #391e63;
$pink-700: #c2185b;

$information-card-body-padding: 16px;

$ds-feedback-width: 2em;

// Bootstrap breakpoints
// $screen-sm-min: 768px !default;
// $screen-md-min: 992px !default;
// $screen-lg-min: 1200px !default;

$well-bg: #f5f5f5 !default;
$well-border: darken($well-bg, 7%) !default;
