@import 'bootstrap/mixins';
@import 'bootstrap/variables';
@import 'variables';
@import 'mixins';

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

@import 'bootstrap-overrides';
@import 'action-menu';
@import 'cancel-editing-modal';
@import 'collapse';
@import 'editable-site-map';
@import 'responsive-svg';
@import 'dive-log-list';
@import 'edit-site';
@import 'filter-menu';
@import 'information-card';
@import 'login-modal';
@import 'map';
@import 'navigation-bar';
@import 'own-profile';
@import 'overlay-action-items';
@import 'profile';
@import 'badges';
@import 'forms';
@import 'modals';
@import 'upload-divesite-image';
@import 'upload-profile-image-modal';
@import 'shadows';
@import 'inputs';
@import 'thumbs';

.main-map .angular-google-map-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
