body {
  font-family: sans-serif;
  margin: 0;
}
.angular-google-map-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.filter-menu {
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 80px;
  width: 250px;
  background-color: #fff;
}
.information-card {
  position: absolute;
  z-index: 1;
  right: 80px;
  top: 60px;
  max-height: calc(100% - 120px);
  width: 250px;
  background-color: #ffffff;
  overflow-y: auto;
}
