<div>
</div>
<ul class="list-unstyled action-menu">
    <li
        ng-if="icvm.userIsOwner()"
        class="action-item"
        >
        <a href="/#/edit-site/{{vm.site.id}}">
            <span class="fa fa-pencil-square action-item__icon"></span>
            <span class="action-item__text">Edit</span>
        </a>
    </li>
    <li
        ng-if="icvm.isAuthenticated()"
        ng-click="vm.toggleSectionVisibility('logDiveForm')"
        class="action-item">
        <a href
            ng-class="{'well': vm.sectionVisibilities.logDiveForm}"
            >
            <span class="fa fa-list action-item__icon"
                ></span>
            <span class="action-item__text">Log a dive</span>
        </a>
    </li>
    <li
        ng-if="icvm.isAuthenticated()"
        class="action-item"
        >
        <a href
            ng-class="{'well': vm.sectionVisibilities.uploadImageForm}"
            ng-click="vm.toggleSectionVisibility('uploadImageForm')">
            <span
                class="fa fa-camera action-item__icon"
                ></span>
            <span class="action-item__text">Add an image</span>
        </a>
    </li>
    <li
        ng-if="icvm.isAuthenticated()"
        class="action-item"
        >
        <a href class="text-danger">
            <span
                class="fa fa-exclamation-circle action-item__icon"
                ></span>
            <span class="action-item__text">Report a problem</span>
        </a>
    </li>
</ul>
