<div class="information-card shadow-2dp">
    <div class="information-card__title" ng-class="{'has-header-image': !!icvm.site.headerImageUrl}"
        ng-style="icvm.backgroundStyle"
        >
        <div class="information-card__site-title">
            <h2 class="information-card__site-name">
                {{ icvm.site.name }}
            </h2>
            <h3 class="information-card__site-location">
                {{ icvm.site.geocodingData | geocodingResult }}
            </h3>
            <h3 class="information-card__site-owner">
                Added by <a href="/#/users/{{icvm.site.owner.id}}/">{{ icvm.site.owner.name }}</a>
            </h3>
        </div>
    </div>

    <div class="information-card__header-actions">
        <a href
            class="overlay-action-item"
            ng-click="icvm.dismiss()">
            <span class="fa fa-stack">
                <i class="fa fa-stack-2x fa-circle background"></i>
                <i class="fa fa-stack-1x fa-times"></i>
            </span>
        </a>
    </div>


    <div class="information-card__body">
        <ng-include src="'views/information-card/description.html'"></ng-include>
        <div class="information-card__site-statistics">
            <information-card-coordinates></information-card-coordinates>
            <ng-include src="'views/information-card/site-level.html'"></ng-include>
            <information-card-charts></information-card-charts>
            <nearby-slipways slipways="icvm.site.nearbySlipways"></nearby-slipways>
        </div>
        <ng-include src="'views/information-card/actions.html'"></ng-include>

        <log-dive-form ng-if="icvm.sectionVisibilities.logDiveForm"></log-dive-form>
        <upload-image-form ng-if="icvm.sectionVisibilities.uploadImageForm"></upload-image-form>

        <div ng-show="icvm.sectionVisibilities.default">
            <div ng-if="icvm.site.images.length"
                class="information-card__divesite-images"
                >
                <div
                    ng-class="{'well--unpadded': icvm.showingGrid}"
                    class="show-grid">
                    <a
                        ng-click="icvm.showingGrid = !!!icvm.showingGrid"
                        >
                        <span class="fa fa-th"></span>
                    </a>
                </div>
                <h3 class="divesite-images__title">Images</h3>
                <div
                    ng-class="{'showing-grid': icvm.showingGrid}"
                    class="information-card__divesite-image-container">
                    <a
                        href
                        ng-click="icvm.showFullSizeImage(img)"
                        ng-repeat="img in icvm.site.images"
                        class="information-card__divesite-image"
                        >
                        <img ng-src="{{img.transformedUrl}}" />
                    </a>
                </div>
            </div> <!-- end of image thumbs -->
            <dive-list></dive-list>
        </div>
    </div>

</div>
