<div class="information-card__body-section">
    <h3 class="information-card__section-title">
        Log a dive
    </h3>
    <form novalidate name="logDiveForm">

        <div class="row"> <!-- Date and time -->
            <div class="col-sm-6"> <!-- Date -->
                <div class="form-group ds-form-group-lg">
                    <label for="log-dive-date">Date</label>
                    <input type="text" class="form-control"
                    ng-model="vm.dive.date"
                    uib-datepicker-popup="dd MMM yyyy"
                    />
                </div>
            </div> <!-- Date -->

            <div class="col-sm-6"> <!-- Time in -->
                <div class="form-group ds-form-group-lg">
                    <label for="log-dive-time">Time in
                        (<a href ng-click="vm.options.showMeridian = !vm.options.showMeridian">
                            {{ vm.options.showMeridian ? '12hr' : '24hr' }}
                        </a>)
                    </label>
                    <uib-timepicker
                        template-url="views/templates/timepicker.html"
                        ng-model="vm.dive.time"
                        show-meridian="vm.options.showMeridian"
                        ></uib-timepicker>
                </div>
            </div> <!-- Time in --> 
        </div> <!-- Date and time -->

        <div class="row"> <!-- Max depth, duration, and average depth -->

            <div class="col-sm-4"> <!-- Max depth -->
                <div class="form-group ds-form-group-lg has-feedback"
                    ng-class="{'has-error': !logDiveForm.maximumDepth.$valid && (logDiveForm.$submitted || logDiveForm.maximumDepth.$touched)}"
                    >
                    <label class="control-label">Maximum depth</label>
                    <input type="number" class="form-control ld-form-control"
                    name="maximumDepth" ng-model="vm.dive.maximumDepth"
                    required min="0.1"
                    />
                    <span class="form-control-feedback ld-feedback">m</span>
                    <span class="help-block"
                        ng-show="logDiveForm.maximumDepth.$valid || logDiveForm.maximumDepth.$error.required"
                        >Enter this dive's maximum depth.</span>
                    <span class="help-block"
                        ng-show="!logDiveForm.maximumDepth.$error.required && logDiveForm.maximumDepth.$error.min"
                        >
                        Depth must be greater than 0.
                    </span>
                </div>
            </div> <!-- Max depth -->

            <div class="col-sm-4"> <!-- Duration -->
                <div class="form-group ds-form-group-lg has-feedback"
                    ng-class="{'has-error': !logDiveForm.duration.$valid && (logDiveForm.$submitted || logDiveForm.duration.$touched)}"
                    >
                    <label class="control-label">Duration</label>
                    <input type="number"
                    class="form-control ld-form-control"
                    name="duration" ng-model="vm.dive.duration"
                    required
                    min="1"
                    />
                    <span class="form-control-feedback ld-feedback">
                        min.
                    </span>
                    <span class="help-block"
                        ng-show="logDiveForm.duration.$valid || logDiveForm.duration.$error.required"
                        >
                        Set this dive's duration (in minutes).
                    </span>
                    <span class="help-block"
                        ng-show="!logDiveForm.duration.$valid && logDiveForm.duration.$error.min"
                        >
                        Duration must be greater than 0.
                    </span>
                </div>
            </div> <!-- Duration -->

            <div class="col-sm-4"> <!-- Average depth -->
                <div class="form-group ds-form-group-lg has-feedback">
                    <label>Average depth</label>
                    <input type="number"
                    class="form-control ld-form-control"
                    name="averageDepth"
                    ng-model="vm.dive.averageDepth"
                    min="0.1"
                    />
                    <span class="form-control-feedback ld-feedback">m</span>
                </div>
                <span class="help-block"
                    ng-show="logDiveForm.averageDepth.$valid"
                    >Optional: enter this dive's average depth.</span>
                <span class="help-block"
                    ng-show="logDiveForm.$error.min"
                    >
                    Average depth must be greater than 0.
                </span>
            </div> <!-- Average depth -->
        </div>

        <div class="row"> <!-- Comment -->
            <div class="col-xs-12">
                <div class="form-group ds-form-group-lg">
                    <label>Comment</label>
                    <textarea class="form-control"
                        name="comment"
                        ng-model="vm.dive.comment"
                        rows="4"></textarea>
                    <span class="help-block">
                        Optional: leave a a comment about this dive.
                    </span>
                </div>
            </div>
        </div> <!-- Comment -->

        <div class="ds-form__submit-row"> <!-- submit -->
            <button type="submit" class="btn btn-primary big-button" ng-click="vm.submit()">
                <span class="fa fa-spinner fa-spin" ng-show="vm.isSaving"></span>
                <span ng-show="!vm.isSaving">Save</span>
            </button>
        </div>
    </form>
</div>
