<div class="information-card__body-section">
    <h3 class="information-card__section-title">Add an image</h3>
    <input type="file" ngf-select ng-model="vm.imageFile" />
    <div class="information-card__upload-thumbnail-container">
        <img
        ngf-thumbnail="vm.imageFile"
        style="height: 200px; max-width: 100%"
        />
    </div>
    <div class="ds-form__submit-row">
        <button type="submit"
            ng-click="vm.submit(vm.imageFile)"
            class="btn btn-primary big-button">
            <span
                class="fa fa-spinner fa-spin"
                ng-show="vm.isSaving">
            </span>
                <span ng-show="!vm.isSaving">
                Upload
            </span>
        </button>
    </div>
</div>
