<div class="col-sm-6">
    <div class="form-group ds-form-group-lg has-feedback">
        <label>Air temperature</label>
        <input type="number"
        class="form-control ds-form-control"
        name="airTemperature"
        ng-model="vm.dive.airTemperature"
        />
        <span class="form-control-feedback ld-feedback">° C</span>
        <span class="help-block">
            Optional: enter the air temperature
        </span>
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group ds-form-group-lg has-feedback">
        <label>Water temperature</label>
        <input type="number"
        class="form-control ds-form-control"
        name="waterTemperature"
        ng-model="vm.dive.waterTemperature"
        />
        <span class="form-control-feedback ld-feedback">° C</span>
        <span class="help-block">
            Optional: enter the water temperature
        </span>
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group ds-form-group-lg">
        <label>Weather</label>
        <div>
            <div class="btn-group ds-btn-group--wide">
                <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span ng-if="!vm.dive.weather.type">
                        Select one...
                    </span>
                    <span ng-if="vm.dive.weather.type">
                        <i class="wi wi-fw" ng-class="vm.dive.weather.wiClass"></i> {{ vm.dive.weather.text }}
                    </span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="weather in vm.weathers" ng-click="vm.selectWeather(weather)">
                        <span>
                            <i class="wi wi-fw" ng-class="weather.wiClass"></i> {{ weather.text }}
                        </span>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li ng-click="vm.selectWeather(null)">
                        <span>
                            <i class="fa fa-fw fa-ban"></i> None
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6">
</ul>
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group ds-form-group-lg">
        <label>Wind</label>
        <div>
            <div class="btn-group ds-btn-group--wide">
                <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span ng-if="!vm.dive.wind.value">
                        Select one...
                    </span>
                    <span ng-if="vm.dive.wind.value">
                        <i class="wi wi-fw" ng-class="'wi-wind-beaufort-' + vm.dive.wind.value"></i> {{ vm.dive.wind.description }}
                    </span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="wind in vm.winds" ng-click="vm.selectWind(wind)">
                        <span>
                            <i class="wi wi-fw" ng-class="'wi-wind-beaufort-' + wind.value"></i> {{ wind.description }}
                        </span>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li ng-click="vm.selectWind(null)">
                        <span>
                            <i class="fa fa-fw fa-ban"></i> None
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
