<div class="col-sm-6">
    <div class="form-group ds-form-group-lg">
        <label>Weather</label>
        <input type="text"
        class="form-control ds-form-control"
        name="weather"
        ng-model="vm.dive.weather"
        />
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group ds-form-group-lg">
        <label>Sea conditions</label>
        <input type="text"
        class="form-control ds-form-control"
        name="weather"
        ng-model="vm.dive.seaConditions"
        />
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group ds-form-group-lg has-feedback">
        <label>Air temperature</label>
        <input type="number"
        class="form-control ds-form-control"
        name="airTemperature"
        ng-model="vm.dive.airTemperature"
        />
        <span class="form-control-feedback ld-feedback">° C</span>
        <span class="help-block">
            Optional: enter the air temperature
        </span>
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group ds-form-group-lg has-feedback">
        <label>Water temperature</label>
        <input type="number"
        class="form-control ds-form-control"
        name="waterTemperature"
        ng-model="vm.dive.waterTemperature"
        />
        <span class="form-control-feedback ld-feedback">° C</span>
        <span class="help-block">
            Optional: enter the water temperature
        </span>
    </div>
</div>
