<div class="col-sm-4">
    <div class="form-group ds-form-group-lg has-feedback">
        <label>Cylinder capacity</label>
        <input type="number"
        class="form-control ds-form-control"
        name="cylinderCapacity"
        ng-model="vm.dive.cylinderCapacity"
        />
        <span class="form-control-feedback ld-feedback">l.</span>
        <span class="help-block">
            Optional: enter your cylinder capacity
        </span>
    </div>
</div>
<div class="col-xs-6 col-sm-4">
    <div class="form-group ds-form-group-lg has-feedback">
        <label>Air in</label>
        <input type="number"
        class="form-control ds-form-control"
        name="airIn"
        ng-model="vm.dive.airIn"
        />
        <span class="form-control-feedback ld-feedback">bar</span>
        <span class="help-block">
            Optional: enter your starting tank pressure
        </span>
    </div>
</div>
<div class="col-xs-6 col-sm-4">
    <div class="form-group ds-form-group-lg has-feedback">
        <label>Air out</label>
        <input type="number"
        class="form-control ds-form-control"
        name="airOut"
        ng-model="vm.dive.airOut"
        />
        <span class="form-control-feedback ld-feedback">bar</span>
        <span class="help-block">
            Optional: enter your final tank pressure
        </span>
    </div>
</div>
