<div class="editable-site-map-container">
    <span class="help-block">
        Drag the map under the marker.
    </span>
    <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
    </ui-gmap-google-map>
</div>
<div class="form-group"
    >
    <span class="help-block">
        You can also edit the coordinates directly
        and the map will update automatically.
    </span>
    <div 
        class="editable-site-map__coordinates"
        >
        <input
        type="text"
        class="editable-site-map__coordinate-input form-control ds-form-control"
        ng-model="vm.map.center.latitude"
        ng-change="vm.maintainCoordinateMaxLength()"
        >

        <span class="editable-site-map__coordinate-axis" >
            ° N
        </span>

        <input type="text"
        class="editable-site-map__coordinate-input form-control ds-form-control"
        ng-model="vm.map.center.longitude"
        ng-change="vm.maintainCoordinateMaxLength()"
        >
        <span class="editable-site-map__coordinate-axis"> ° E</span>
    </div>
</div>
