<div class="information-card__charts">
    <div class="information-card__chart">
        <a 
            class="collapse-header"
            ng-class="{'has-collapse': !!vm.site.dives.length}"
            id="js-information-card__depth-chart-toggle"
            data-toggle="collapse"
            data-target="#information-card__depth-collapse">
            <div class="collapse-header__text">
                Average depth
            </div>
            <div class="collapse-header__value">
                {{ vm.site.depth | number:0 }} m
            </div>
            <div class="collapse-header__chevron-container overlay-action-item--blue" ng-if="vm.site.depth">
                <span class="fa fa-stack">
                    <i class="fa fa-stack-2x fa-circle background"></i>
                    <i class="collapse-header__chevron fa fa-stack-1x fa-chevron-down"></i>
                </span>
            </div>
        </a>
        <div
            ng-show="vm.site.dives.length"
            class="collapse collapse-body"
            id="information-card__depth-collapse">
            <div class="">
                <div
                    class="information-card-chart-container"
                    id="information-card-depth-histogram-container"
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="information-card__chart">
        <a class="collapse-header"
            ng-class="{'has-collapse': !!vm.site.dives.length}"
            id="js-information-card__duration-chart-toggle"
            data-toggle="collapse"
            data-target="#information-card__duration-collapse">
            <div class="collapse-header__text">
                Average duration
            </div>
            <div class="collapse-header__value">
                {{ vm.site.duration }} min.
            </div>
            <div class="collapse-header__chevron-container overlay-action-item--blue"
                ng-if="vm.site.duration"
                >
                <span class="fa fa-stack">
                    <i class="fa fa-stack-2x fa-circle background"></i>
                    <i class="collapse-header__chevron fa fa-stack-1x fa-chevron-down"></i>
                </span>
            </div>
        </a>
        <div
            ng-show="vm.site.dives.length"
            class="collapse collapse-body"
            id="information-card__duration-collapse">
            <div class="">
                <div
                    class="information-card-chart-container"
                    id="information-card-duration-histogram-container"
                    >
                </div>
            </div>
        </div>
    </div>
</div>
