<section class="profile-dive-log">
    <div class="row comment" ng-repeat="dive in vm.user.dives | orderBy:'-'">
        <div class="col-xs-12">
            <div class="profile-feed__item">
                <div class="profile-feed__comment-header">
                    <div class="profile-feed__comment-summary">
                        <div class="profile-dive__divesite-name">
                            {{ dive.divesite.name }}
                        </div>
                        <div class="dive__details">
                            <div class="dive__start-time">
                                {{ dive.date | date }}
                                <span ng-if="dive.time">
                                    {{ dive.time | date:'HH:mm' }}
                                </span>
                            </div>
                            <div class="profile-dive__depth-and-time">
                                <div class="profile-dive__max-depth">
                                    <i class="fa fa-fw fa-arrow-down"></i>
                                    <span> {{ dive.depth }} m </span>
                                </div>
                                <div class="profile-dive__duration">
                                    <i class="fa fa-fw fa-clock-o"></i>
                                    <span> {{ dive.duration | duration }} min.  </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="dive.comment" class="comment__text profile-feed__comment-text">
                    {{ dive.comment }}
                </div>
            </div>
        </div>
    </div>
</section>
