<div ng-repeat="dive in user.dives"
    class="dive-log__item">
    <div class="col-xs-4 dive__details">
        <div class="dive__start-time">
            {{ dive.date | date }}
            <span ng-if="dive.time">
                {{ dive.time | date:'HH:mm' }}
            </span>
        </div>
        <div class="dive__depth">
            <span> {{ dive.depth }} m </span>
        </div>
        <div class="dive__duration">
            <span> {{ dive.duration | duration }} min.  </span>
        </div>
    </div>
    <div class="col-xs-8 dive__bumf">
        <h3 class="dive__divesite-name">
            <a href="/#/?divesite={{ dive.divesite.id }}">
                {{ dive.divesite.name }}
            </a>
        </h3>
        <div>
            {{ dive.comment }}
        </div>
    </div>
</div>
