<div class="ds-modal" ng-class="{'ds-modal--is-working': vm.isLoading}">
    <modal-mask message="Loading..." ng-show="vm.isLoading"></modal-mask>
    <div class="ds-modal__dismiss">
        <a href class="overlay-action-item" ng-click="vm.dismiss()">
            <span class="fa fa-stack">
                <i class="fa fa-fw fa-stack-2x fa-circle background"></i>
                <i class="fa fa-fw fa-stack-1x fa-times"></i>
            </span>
        </a>
    </div>
    <div class="ds-modal__content">
        <h3 class="follow-modal__header">
            <span ng-if="vm.direction === 'follows'">
                People
                <span ng-show="vm.user.id == vm.viewingUserID">
                    you're
                </span>
                <span ng-show="vm.user.id != vm.viewingUserID">
                    {{ vm.user.name }} is
                </span>
                following
            </span>
            <span ng-if="vm.direction === 'followers'">
                People following
                <span ng-if="vm.user.id === vm.viewingUserID">
                    you
                </span>
                <span ng-if="vm.user.id !== vm.viewingUserID">
                    {{ vm.user.name }}
                </span>
            </span>
            <span ng-if="vm.direction === 'suggestions'">
                People you might know
            </span>
        </h3>
        <div class="follow-modal__no-suggestions"
            ng-show="vm.direction === 'suggestions' && !vm.isLoading && vm.users.length === 0">
            <p>
                <i class="fa fa-fw fa-frown-o"></i>
            </p>
            <p>
                We can't find anyone for you to follow right now.
            </p>
        </div>
        <ul ng-show="vm.users.length > 0" class="list-unstyled">
            <li style="display: flex; justify-content: space-between; margin-bottom: 16px;" ng-repeat="user in vm.users">
                <div style="display: flex; justify-content: flex-start">
                    <div>
                        <div class="profile-feed__comment-image">
                            <!-- Seems to need hard-coding -->
                            <img
                            style="width: 60px; height: auto;"
                            ng-src="{{ user.profileImageUrl || '/img/no_profile_image.svg'}}"
                            />
                        </div>
                    </div>
                    <div class="follow-modal__user-name">
                        <a href ng-click="vm.dismiss(user)">
                            {{ user.name }}
                        </a>
                    </div>
                </div>
                <div class="">
                    <span ng-if="vm.isAuthenticated() && user.id !== vm.viewingUserID">
                        <span ng-show="!user.followStatusResolved">
                            <i class="fa fa-fw fa-spin fa-spinner"></i>
                        </span>
                        <span ng-show="user.followStatusResolved">
                            <button ng-if="!user.viewingUserIsFollowing" class="btn btn-primary"
                                ng-click="vm.follow(user)">
                                <i class="fa fa-fw fa-plus"></i>
                                <span>Follow</span>
                            </button>
                            <button ng-if="user.viewingUserIsFollowing" class="btn btn-success"
                                ng-click="vm.unfollow(user)">
                                <i class="fa fa-fw fa-check"></i>
                                <span>Following</span>
                            </button>
                        </span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
