<section class="profile-places-added">
    <div class="row places-added__header-row">
        <div class="col-xs-4">
            <div class="row">
                <a href class="places-added__filter-link" ng-class="{'disabled': !vm.visibility.divesite}" ng-click="vm.toggleVisibility('divesite')">
                    <div class="col-xs-12">
                        <img class="places-added__header-image" src="/img/divesite.svg" />
                    </div>
                    <div class="col-xs-12">
                        Divesites
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <a href class="places-added__filter-link" ng-class="{'disabled': !vm.visibility.slipway}" ng-click="vm.toggleVisibility('slipway')">
                    <div class="col-xs-12">
                        <img class="places-added__header-image" src="/img/slipway.svg" />
                    </div>
                    <div class="col-xs-12">
                        Slipways
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <a href class="places-added__filter-link" ng-class="{'disabled': !vm.visibility.compressor}" ng-click="vm.toggleVisibility('compressor')">
                    <div class="col-xs-12">
                        <img class="places-added__header-image" src="/img/compressor.svg" />
                    </div>
                    <div class="col-xs-12">
                        Compressors
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div ng-show="vm.visibility[place.type]" ng-repeat="place in vm.user.placesAdded | orderBy:'-creation_date'" class="row">
        <div class="col-xs-12">
            <div class="profile-feed__item">
                <div class="profile-feed__comment-header">
                    <div class="profile-feed__comment-image places-added__icon" ng-switch="place.type">
                        <img ng-switch-when="divesite" ng-src="/img/divesite.svg" />
                        <img ng-switch-when="compressor" ng-src="/img/compressor.svg" />
                        <img ng-switch-when="slipway" ng-src="/img/slipway.svg" />
                    </div>
                    <div>
                        <span class="places-added__name">
                            <a href="/#/?{{place.type}}={{place.id}}">
                                {{ place.name }}
                            </a>
                        </span>
                        <div class="places-added__creation-date">
                            Added on {{ place.creation_date | date }}
                        </div>
                    </div>
                </div>
                <p class="comment__text">
                    {{ place.description }}
                </p>
            </div>
        </div>
    </div>
</section>
