<div class="profile container">
    <profile-header user="vm.user" editable="vm.editable"></profile-header>

    <div class="row">
        <div class="col-xs-12 col-sm-4" role="navigation">
            <ul id="js-tab-menu" class="list-unstyled profile__sidebar">
                <li class="profile__sidebar-item active">
                    <a href class="profile__sidebar-link" data-target="#js-profile-feed-tab" data-toggle="tab">
                        <i class="sidebar-item__icon fa fa-fw fa-feed"></i>
                        <span class="sidebar-item__text">
                        Feed
                    </span>
                    </a>
                </li>
                <li class="profile__sidebar-item">
                    <a href class="profile__sidebar-link" data-target="#js-profile-dives-tab" data-toggle="tab">
                        <i class="sidebar-item__icon fa fa-fw fa-list"></i>
                        <span class="sidebar-item__text">
                        Dives
                    </span>
                    </a>
                </li>
                <li class="profile__sidebar-item">
                    <a href class="profile__sidebar-link" data-target="#js-profile-places-tab" data-toggle="tab">
                        <i class="sidebar-item__icon fa fa-fw fa-map-marker"></i>
                        <span class="sidebar-item__text">
                        Places
                    </span>
                    </a>
                </li>
                <li class="profile__sidebar-item">
                    <a href class="profile__sidebar-link" data-target="#js-profile-images-tab" data-toggle="tab">
                        <i class="sidebar-item__icon fa fa-fw fa-image"></i>
                        <span class="sidebar-item__text">
                        Images
                    </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-8">
            <section class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="js-profile-feed-tab">
                    <profile-feed editable="vm.editable" user="vm.user"></profile-feed>
                </div>

                <div role="tabpanel" class="tab-pane" id="js-profile-dives-tab">
                    <dive-log-list user="vm.user" ng-if="vm.user.dives.length"></dive-log-list>
                    <div ng-if="!vm.user.dives.length" class="profile__no-dives">
                        <i class="fa fa-fw fa-frown-o"></i>
                        Nothing yet!
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="js-profile-places-tab">
                    <places-added-list ng-if="vm.user.placesAdded.length" user="vm.user"></places-added-list>
                    <div ng-if="!vm.user.placesAdded.length" class="profile__no-places-added">
                        <i class="fa fa-fw fa-frown-o"></i>
                        Nothing yet!
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="js-profile-images-tab">
                    <images-added-list editable="vm.editable" user="vm.user"></images-added-list>
                </div>

            </section>
        </div>
    </div>
</div>
