<section class="profile-feed">
    <div infinite-scroll="vm.loadFeed()" infinite-scroll-disabled="!vm.viewing || vm.isLoading || !vm.next">
        <div class="row comment" ng-repeat="item in vm.feed.results">
            <div class="col-xs-12">
                <div class="ds-discrete-bordered-item">

                    <div class="profile-feed__comment-header">
                        <div class="profile-feed__comment-image">
                            <cl-image ng-if="item.actor.profile_image" public-id="{{item.actor.profile_image.public_id}}">
                                <cl-transformation height="60" width="60" crop="fill" gravity="face" />
                            </cl-image>
                            <img ng-if="!item.actor.profile_image" style="width: 100%; height: auto; max-width; 60px;"
                            ng-src="/img/no_profile_image.svg" />
                        </div>
                        <div>
                            <span class="profile-feed__actor" ng-switch="item.actor.id === vm.ownID">
                                <span ng-switch-when="true">You</span>
                                <span ng-switch-when="false">
                                    <a href="/#/users/{{ item.actor.id }}">{{ item.actor.name }}</a>
                                </span>
                            </span>
                            <span class="profile-feed__verb">
                                {{ item.verb }}
                                {{ item.verb === 'commented' ? 'on' : '' }}
                                {{ item.verb === 'logged a dive' ? 'at' : '' }}
                                {{ item.verb === 'added an image' ? 'to' : '' }}
                            </span>

                            <span ng-switch="item.target_type">
                                <span ng-if="item.target.id === vm.ownID">
                                    you
                                </span>
                                <a ng-switch-when="user"
                                    ng-if="item.target.id !== vm.ownID"
                                    class="profile-feed__target"
                                    href="/#/users/{{ item.target.id}}"
                                    >
                                    <span>
                                        {{ item.target.name }}
                                    </span>
                                </a>
                                <a ng-switch-default href='/#/?{{ item.target_type }}={{ item.target_object_id }}'
                                    class="profile-feed__target">
                                    {{ item.target.name }}
                                </a>
                            </span>

                            <div class="profile-feed__comment-date">
                                {{ item.timestamp | date }}
                            </div>
                            <div ng-if="item.action_object.depth && item.action_object.duration">
                                <span><i class="fa fa-fw fa-arrow-down"></i> {{ item.action_object.depth }} m</span>
                                <span><i class="fa fa-fw fa-clock-o"></i>{{ item.action_object.duration | duration }} min.</span>
                            </div>
                        </div>
                    </div>

                    <div class="comment__text profile-feed__comment-text"
                        ng-bind-html="item.action_object.text | markdown"
                        ng-if="item.verb === 'commented' && item.action_object.text"
                        >
                    </div>
                    <div
                        class="comment__text profile-feed__comment-text"
                        ng-bind-html="item.action-object.text | markdown"
                        ng-if="item.verb === 'logged a dive at' && item.action_object.comment">
                    </div>
                </div>
            </div>

        </div>

        <!-- 'load more' button -->
        <div class="row" ng-show="vm.isLoading">
            <div class="col-xs-12 profile-feed__loading-indicator">
                <i class="fa fa-fw fa-2x fa-spin fa-spinner"></i>
            </div>
        </div>
    </div>
</section>
