<div class="information-card shadow-2dp"
    ng-class="{'information-card--is-loading': icvm.isLoading}">
    <information-card-header id="icvm.siteID" type="icvm.siteType"></information-card-header>


    <div class="information-card__body"
        id="information-card__body"
        >
        <modal-mask ng-show="icvm.isLoading"></modal-mask>
        <ng-include src="'information-card/description.html'"></ng-include>
        <div class="information-card__site-statistics">
            <information-card-coordinates></information-card-coordinates>
            <ng-include src="'information-card/site-level.html'"></ng-include>
            <ng-include src="'information-card/site-entries.html'"></ng-include>
            <information-card-charts></information-card-charts>
            <nearby-slipways slipways="icvm.site.nearbySlipways"></nearby-slipways>
        </div>
        <ng-include src="'information-card/actions.html'"></ng-include>

        <log-dive-form ng-if="icvm.sectionVisibilities.logDiveForm"></log-dive-form>
        <upload-image-form ng-if="icvm.sectionVisibilities.uploadImageForm"></upload-image-form>

        <div ng-show="icvm.sectionVisibilities.defaultSection">
            <div ng-if="images.length"
                class="information-card__divesite-image-section"
                >
                <h3 class="information-card__section-title">Images</h3>
                <ul class="list-unstyled information-card__divesite-image-container" ng-controller="GalleryController as gc">
                    <li class="information-card__divesite-image" ng-repeat="image in images">
                        <a ng-click="gc.openLightboxModal($index)">
                            <img ng-src="{{ image.transformedUrl }}" />
                        </a>
                    </li>
                </ul>
            </div>
            <dive-list dives="icvm.site.dives"></dive-list>
        </div>
    </div>
</div>
