<div class="information-card shadow-2dp"
    ng-class="{'information-card--is-loading': icvm.isLoading}">
    <modal-mask message="Loading..." ng-show="icvm.isLoading"></modal-mask>
    <information-card-header id="icvm.siteID" type="icvm.siteType"></information-card-header>
    <div class="information-card__body"
        id="information-card__body"
        >
        <ng-include src="'information-card/description.template.html'"></ng-include>
        <div class="information-card__site-statistics">
            <information-card-coordinates></information-card-coordinates>
            <ng-include src="'information-card/site-level.template.html'"></ng-include>
            <ng-include src="'information-card/site-entries.template.html'"></ng-include>
            <information-card-charts></information-card-charts>
            <nearby-slipways slipways="site.nearbySlipways"></nearby-slipways>
        </div>
        <ng-include src="'information-card/actions.template.html'"></ng-include>

        <div>
            <div ng-if="images.length"
                class="information-card__divesite-image-section"
                >
                <h3 class="information-card__section-title">Images</h3>
                <ul class="list-unstyled information-card__divesite-image-container" ng-controller="GalleryController as gc">
                    <li class="information-card__divesite-image" ng-repeat="image in images">
                        <a ng-click="gc.openLightboxModal($index)">
                            <img ng-src="{{ image.transformedUrl }}" />
                        </a>
                    </li>
                </ul>
            </div>

            <ul id="js-tab-menu" class="nav nav-tabs profile__tab-menu" role="tablist">
                <li role="presentation" class="active profile__tab-menu-item">
                    <a class="profile__tab-link" href aria-controls="dive-list" role="tab" data-toggle="tab" data-target="#js-dive-list">
                        <h3 class="information-card__tab-title">Dives</h3>
                    </a>
                </li>
                <li role="presentation" class="profile__tab-menu-item">
                    <a class="profile__tab-link" href aria-controls="comment-list" role="tab" data-toggle="tab" data-target="#js-comment-list">
                        <h3 class="information-card__tab-title">
                            Comments ({{ site.comments.length }})
                        </h3>
                    </a>
                </li>
            </ul>

            <section class="tab-content">
                <section id="js-dive-list" role="tabpanel" class="active tab-pane information-card__dive-list">
                    <dive-list dives="site.dives"></dive-list>
                </section>
                <section id="js-comment-list" role="tabpanel" class="tab-pane information-card__dive-list">
                    <comment-list site="site" comments="site.comments"></comment-list>
                </section>
            </section>
        </div>
    </div>
</div>
