<div class="information-card shadow-2dp" ng-class="{'information-card--is-loading': vm.isLoading}">
    <information-card-header site="vm.site"></information-card-header>
    <div class="information-card__body">
        <modal-mask message="Loading..." ng-show="vm.isLoading"></modal-mask>
        <div class="information-card__content">
            <!-- Upper part of the content: stats, etc. -->
            <ng-include src="'information-card/description.template.html'"></ng-include>
            <div class="information-card__site-statistics">
                <information-card-coordinates></information-card-coordinates>
                <div ng-if="vm.site.type === 'divesite'">
                    <ng-include src="'information-card/site-level.template.html'"></ng-include>
                    <ng-include src="'information-card/site-entries.template.html'"></ng-include>
                    <ng-include ng-if="vm.site.seabed" src="'information-card/seabed.template.html'"></ng-include>
                    <information-card-charts></information-card-charts>
                    <nearby-slipways slipways="site.nearbySlipways"></nearby-slipways>
                </div>
            </div>

            <ng-include src="'information-card/actions.template.html'"></ng-include>

            <div class="information-card__tab-body">
                <!-- Images, if they exist -->
                <div ng-if="vm.images.length"
                    class="information-card__divesite-image-section"
                    >
                    <h3 class="information-card__section-title">Images</h3>
                    <ul class="list-unstyled information-card__divesite-image-container" ng-controller="GalleryController as gc">
                        <li class="information-card__divesite-image" ng-repeat="image in vm.images">
                            <a ng-click="gc.openLightboxModal($index)">
                                <img ng-src="{{ image.transformedUrl }}" />
                            </a>
                        </li>
                    </ul>
                </div>

                <ul id="js-tab-menu" class="row nav nav-tabs information-card__tab-menu" role="tablist">
                    <li role="presentation" class="col-xs-6 information-card__tab-menu-item" ng-show="vm.site.type === 'divesite'">
                        <a id="js-dive-list-tab" href aria-controls="dive-list" role="tab" data-toggle="tab" data-target="#js-dive-list">
                            Dives
                        </a>
                    </li>
                    <li role="presentation" class="col-xs-6 information-card__tab-menu-item">
                        <a id="js-comment-list-tab" href aria-controls="comment-list" role="tab" data-toggle="tab" data-target="#js-comment-list">
                                Comments ({{ site.comments.length }})
                        </a>
                    </li>
                </ul>

                <section class="tab-content">
                    <section id="js-dive-list" role="tabpanel" class="tab-pane information-card__dive-list" ng-show="vm.site.type === 'divesite'">
                        <dive-list dives="vm.site.dives"></dive-list>
                    </section>
                    <section id="js-comment-list" role="tabpanel" class="tab-pane information-card__dive-list">
                        <comment-list site="vm.site" comments="vm.site.comments"></comment-list>
                    </section>
                </section>
            </div>
            <!-- </div> -->
    </div>
</div>
