<div class="ds-modal"
    ng-class="{'ds-modal--is-working': vm.isSubmitting}">
    <modal-mask ng-show="vm.isSubmitting" message="Logging..."></modal-mask>
    <div class="ds-modal__dismiss">
        <a href class="overlay-action-item" ng-click="vm.dismiss()">
            <span class="fa fa-stack">
                <i class="fa fa-fw fa-stack-2x fa-circle background"></i>
                <i class="fa fa-fw fa-stack-1x fa-times"></i>
            </span>
        </a>
    </div>
    <div class="ds-modal__content">
        <!-- modal header -->
        <div class="ds-modal__header">
            <h3 class="ds-modal__title">
                Log a dive at <strong>{{ vm.site.name }}</strong>
            </h3>
        </div>

        <!-- Modal body -->
        <div class="ds-modal__body">
            <form novalidate name="logDiveForm">
                <ng-include src="'information-card/log-dive-modal/tab-menu.template.html'">
                </ng-include>
                <div class="row">

                    <section class="tab-content">
                        <section id="js-dive-log-main-tab" class="tab-pane active" role="tabpanel">
                            <ng-include src="'information-card/log-dive-modal/main-tab.template.html'">
                            </ng-include>
                        </section>
                        <section id="js-dive-log-equipment-tab" class="tab-pane" role="tabpanel" >
                            <ng-include src="'information-card/log-dive-modal/equipment-tab.template.html'">
                            </ng-include>
                        </section>
                        <section id="js-dive-log-conditions-tab" class="tab-pane" role="tabpanel" >
                            <ng-include src="'information-card/log-dive-modal/conditions-tab.template.html'">
                            </ng-include>
                        </section>
                    </section><!-- Tab content -->

                    <div class="col-xs-12 ds-form__submit-row"> <!-- Submit -->
                        <button type="submit" class="btn btn-primary big-button" ng-click="vm.submit()">
                            <span>Save</span>
                        </button>
                    </div><!-- Submit -->

                </div>
            </form>
        </div>
    </div>
</div>
