<section class="information-card__slipway-section">
    <a href
        class="collapse-header"
        ng-class="{'has-collapse': !!slipways.length}"
        data-target="#information-card__slipway-list"
        data-toggle="collapse"
        id="js-information-card__nearby-slipways-toggle"
        >
        <div class="collapse-header__text">
            Nearby slipways
        </div>
        <div class="collapse-header__value">
            {{ slipways.length }}
        </div>
        <div class="collapse-header__chevron-container overlay-action-item"
            ng-if="slipways.length"
            >
            <span class="fa fa-stack">
                <i class="fa fa-stack-2x fa-circle background"></i>
                <i class="collapse-header__chevron fa fa-stack-1x fa-chevron-down"></i>
            </span>
        </div>
    </a>
    <div
        ng-show="slipways.length"
        class="collapse"
        id="information-card__slipway-list"
        >
        <div ng-repeat="slipway in slipways" class="information-card__nearby-slipway">
            <a href="/#/?slipway={{ slipway.id }}">{{ slipway.name }}</a>
            <span>
                {{ slipway.distanceFromDivesite | number:0 }} km
            </span>
        </div>
    </div>
</section>
