<div class="ds-modal"
    ng-class="{'ds-modal--is-working': vm.isUploading}"
    >
    <modal-mask ng-show="vm.isUploading"></modal-mask>
    <div class="ds-modal__dismiss">
        <a href class="overlay-action-item" ng-click="vm.dismiss()">
            <span class="fa fa-stack">
                <i class="fa fa-fw fa-stack-2x fa-circle background"></i>
                <i class="fa fa-fw fa-stack-1x fa-times"></i>
            </span>
        </a>
    </div>
    <div class="ds-modal__content">
        <div class="ds-modal__header">
            <h1 class="ds-modal__title">
                Set divesite header image
            </h1>
        </div>
        <div class="ds-modal__body">
            <div>
                <ul class="list-unstyled set-header-image-modal__list">
                    <li class="set-header-image-modal__list-item"
                        ng-class="{'selected': image.is_header_image}"
                        ng-repeat="image in images">
                        <a href ng-click="vm.select(image)">
                            <img ng-src="{{ image.transformedUrl }}" />
                        </a>
                    </li>
                    <li class="set-header-image-modal__list-item set-header-image-modal__action-item ">
                        <!-- Button to add a new image -->
                        <a class="overlay-action-item" ng-click="vm.summonUploadImageModal()" href>
                            <span class="fa fa-fw fa-stack fa-2x">
                                <i class="fa fa-fw fa-stack-2x fa-circle background"></i>
                                <i class="fa fa-fw fa-stack-1x fa-plus"></i>
                            </span>
                        </a href>
                    </li>
                    <li class="set-header-image-modal__list-item set-header-image-modal__action-item">
                        <!-- Button to clear header -->
                        <a class="overlay-action-item" ng-click="vm.clearSiteHeaderImage()" href>
                            <span class="fa fa-fw fa-stack fa-2x">
                                <i class="fa fa-fw fa-stack-2x fa-circle background"></i>
                                <i class="fa fa-fw fa-stack-1x fa-ban"></i>
                            </span>
                        </a href>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
