<div class="hamburger-menu__submenu-header">
<a
    href
    class="hamburger-menu__icon hamburger-submenu__icon"
    ng-click="hamburgerVM.selectSubmenu('#js-search-menu')"
    >
    <span class="fa fa-stack fa-2x">
        <i class="fa fa-stack-2x fa-circle background"></i>
        <i class="fa fa-stack-1x fa-search"></i>
    </span>
</a>
<h3 class="hamburger-menu__submenu-title">Search</h3>
</div>
<div id="js-search-menu__collapse" class="hamburger-submenu__content">
    <input class="form-control ds-form-control" type="text"
    ng-model="smvm.selectedSite"
    style="font-family: 'Source Sans Pro', FontAwesome"
    placeholder="&#xF002;"
    typeahead-template-url="map/typeahead-template.html"
    uib-typeahead="marker as marker.title for marker in mapMarkers | filter:$viewValue"
    typeahead-on-select="vm.handleSearchSelect($item)"
    typeahead-popup-template-url="map/typeahead-popup-template.html"
    />
</div>
