<div class="login-modal__form login-modal__signIn">
    <form novalidate name="signInForm">
        <div>
            <a href class="btn btn-social btn-google login-modal__social-button"
                ng-click="vm.login('google')">
                <span class="fa fa-google"></span>
                Sign in with Google
            </a>
        </div>
        <div>
            <a href class="btn btn-social btn-facebook login-modal__social-button"
                ng-click="vm.login('facebook')">
                <span class="fa fa-facebook"></span>
                Sign in with Facebook
            </a>
        </div>

    </form>
</div> <!-- Register new account -->
