<div class="information-card__body-section">
    <div class="ds-discrete-bordered-item" ng-repeat="dive in dives | orderBy:'-'">
        <div ng-if="userID === dive.diver.id" class="ds-action-items">
            <a href
                class="overlay-action-item--blue"
                ng-click="vm.summonLogDiveModal(dive, site)">
                <span class="fa fa-stack">
                    <i class="fa fa-stack-2x fa-circle background"></i>
                    <i class="fa fa-stack-1x fa-edit"></i>
                </span>
            </a>
            <a href
                class="overlay-action-item--blue"
                ng-click="vm.summonConfirmDiveDeletionModal(dive)">
                <span class="fa fa-stack">
                    <i class="fa fa-stack-2x fa-circle background"></i>
                    <i class="fa fa-stack-1x fa-trash"></i>
                </span>
            </a>
        </div>
        <div class="information-card__dive-header">
            <div class="information-card__dive-image">
                <!-- width and height seem to need hard-coding -->
                <cl-image ng-if="dive.diver.profile_image"  public-id="{{dive.diver.profile_image.public_id}}">
                    <cl-transformation height="60" width="60" crop="fill" gravity="north" />
                </cl-image>
                <img ng-if="!dive.diver.profile_image"
                ng-src="/img/no_profile_image.svg"
                height="60" width="60" />
            </div>
            <div class="information-card__dive-details">
                <div>
                    <a href="/#/users/{{dive.diver.id}}/">{{ dive.diver.name }}</a>
                </div>
                <div>
                    {{ dive.date | date:'d MMM yyyy' }}
                    <span ng-if="dive.time">
                        at {{ dive.time | date:'HH:mm' }}
                    </span>
                </div>
                <i class="fa fa-fw fa-clock-o"></i>
                <span>{{ dive.depth }} m</span>
                <i class="fa fa-fw fa-arrow-down"></i>
                <span>{{ dive.duration | duration }} minutes</span>
            </div>
        </div>
        <div class="information-card__dive-comment">
            {{ dive.comment }}
        </div>
    </div>
</div>
