<div class="information-card__body-section">
    <h3 class="information-card__section-title">Dives</h3>

    <div class="information-card__dive" ng-repeat="dive in dives | orderBy:'-'">
        <div class="information-card__dive-actions">
            <a href ng-if="userID === dive.diver.id"
                ng-click="vm.summonConfirmDiveDeletionModal(dive)">
                <i class="fa fa-trash"></i>
            </a>
        </div>
        <div class="information-card__dive-header">
            <div class="information-card__dive-image" ng-show="dive.diver.profileImageUrl">
                <!-- width and height seem to need hard-coding -->
                <img
                height="60" width="60"
                ng-src="{{ dive.diver.profileImageUrl }}"
                />
            </div>
            <div class="information-card__dive-image--none" ng-show="!dive.diver.profileImageUrl">
                <i class="fa fa-fw fa-user fa-3x"></i>
            </div>
            <!-- </div> -->
        <div class="information-card__dive-details">
            <div>
                <a href="/#/users/{{dive.diver.id}}/">{{ dive.diver.name }}</a>
            </div>
            <div>
                {{ dive.start_time | date:'d MMM yyyy' }}
                at
                {{ dive.start_time | date:'HH:mm' }}
            </div>
            <span>{{ dive.depth }} m</span>
            <span>{{ dive.duration | duration }} minutes</span>
        </div>
    </div>
    <div class="information-card__dive-comment">
        {{ dive.comment }}
    </div>
</div>
