.profile {
  .col-xs-8, .col-sm-8 {
    // TODO: why this rule?
    @media (min-width: $screen-sm-min) {
      padding-left: 32px;
    }
  }
}

.profile__tab-menu {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}

.profile__tab-menu-item {
  text-align: center;
  width: 100%;
}

.profile__tab-menu-text {
  margin-top: 0;
  margin-bottom: 0;
}

.profile__no-dives,
.profile__no-images-added,
.profile__no-places-added
{
  align-items: center;
  color: #777;
  font-size: 30px;
  display: flex;
  margin-top: 64px;
  flex-direction: column;
}

.nav-tabs > li.profile__tab-menu-item.active {
  // Bootstrap overrides
  border-bottom: 0;
  margin-bottom: 0;
}

.nav-tabs > li.active > a.profile__tab-link {
  background: rgba(0, 0, 0, 0.17);
  background: rgba(0, 0, 0, 0.17);
}

.profile-feed__actor {
  font-weight: 500;
}

.profile-feed__target {
  font-weight: 500;
}

.profile-feed__comment-actions {
  position: absolute;
  top: 8px;
  right: 8px;
}

.profile-feed__comment-date {
  margin-top: auto;
}

.profile-feed__comment-header {
  display: flex;
}

.profile-feed__comment-image {
  margin-right: 8px;
  padding-right: 0;
  text-align: right;
  &.comment__image--none {
    display: flex;
    height: 60px !important;
    width: 60px !important;
    background: rgba(0, 0, 0, 0.17);
    align-items: center;
    justify-content: center;
  }
}

.profile-feed__loading-indicator {
  margin-bottom: 32px;
  text-align: center;
}

