.profile {
  .col-xs-8, .col-sm-8 {
    // TODO: why this rule?
    @media (min-width: $screen-sm-min) {
      padding-left: 32px;
    }
  }
}

.profile__tab-menu {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}

.profile__tab-menu-item {
  text-align: center;
  width: 100%;
}

.profile__tab-menu-text {
  margin-top: 0;
  margin-bottom: 0;
}

.profile__tab--empty {
  align-items: center;
  color: #777;
  font-size: 30px;
  display: flex;
  margin-top: 64px;
  flex-direction: column;
}

.nav-tabs > li.profile__tab-menu-item.active {
  // Bootstrap overrides
  border-bottom: 0;
  margin-bottom: 0;
}

.nav-tabs > li.active > a.profile__tab-link {
  background: rgba(0, 0, 0, 0.17);
  background: rgba(0, 0, 0, 0.17);
}
