<div class="hamburger-menu__submenu-header">
    <a
        href
        class="hamburger-menu__icon hamburger-submenu__icon"
        ng-click="hamburgerVM.selectSubmenu('#js-filter-menu')"
        >
        <span class="fa fa-stack fa-2x">
            <i class="fa fa-stack-2x fa-circle background"></i>
            <i class="fa fa-stack-1x fa-filter"></i>
        </span>
    </a>
    <h3 class="hamburger-menu__submenu-title">Filter</h3>
</div>
<div class="hamburger-submenu__content">
    <div class="filter-menu__section filter-menu__amenities">
        <h3 class="filter-menu__section-header">
            Categories
        </h3>
        <div class="media filter-menu__category">
            <label class="media-body media-middle" for="filter-menu-divesites">
                <input
                type="checkbox" id="filter-menu-divesites"
                ng-model="fmvm.preferences.divesites"
                ng-change="fmvm.updatePreferences()"
                />
                <span>Divesites</span>
            </label>
            <div class="media-right">
                <label for="filter-menu-divesites">
                    <img class="filter-menu__category-icon"
                    ng-class="{'muted': !fmvm.preferences.divesites}"
                    ng-src="/img/divesite.svg" />
                </label>
            </div>
        </div>
        <div class="media filter-menu__category">
            <label class="media-body media-middle" for="filter-menu-compressors">
                <input
                type="checkbox" id="filter-menu-compressors"
                ng-model="fmvm.preferences.compressors"
                ng-change="fmvm.updatePreferences()"
                />
                <span>Compressors</span>
            </label>
            <div class="media-right">
                <label for="filter-menu-compressors">
                    <img class="filter-menu__category-icon"
                    ng-class="{'muted': !fmvm.preferences.compressors}"
                    ng-src="/img/compressor.svg" />
                </label>
            </div>
        </div>
        <div class="media filter-menu__category">
            <label class="media-body media-middle" for="filter-menu-slipways">
                <input
                type="checkbox" id="filter-menu-slipways"
                ng-model="fmvm.preferences.slipways"
                ng-change="fmvm.updatePreferences()"
                />
                <span>Slipways</span>
            </label>
            <div class="media-right">
                <label for="filter-menu-slipways">
                    <img class="filter-menu__category-icon"
                    ng-class="{'muted': !fmvm.preferences.slipways}"
                    ng-src="/img/boatlaunch.svg" />
                </label>
            </div>
        </div>
    </div>
    <div class="filter-menu__section filter-menu__entry-types">
        <h3 class="filter-menu__section-header">
            Entry types
        </h3>
        <div>
            <label for="filter-menu-boatEntry">
                <input
                type="checkbox" id="filter-menu-boatEntry"
                ng-model="fmvm.preferences.boatEntry"
                ng-change="fmvm.updatePreferences()"
                >
                <span>Boat</span>
            </label>
        </div>
        <div>
            <label for="filter-menu-shoreEntry">
                <input
                type="checkbox" id="filter-menu-shoreEntry"
                ng-model="fmvm.preferences.shoreEntry"
                ng-change="fmvm.updatePreferences()"
                >
                <span>Shore</span>
            </label>
        </div>
    </div>
    <div class="filter-menu__section filter-menu__maximum-level">
        <h3 class="filter-menu__section-header">
            Maximum level
        </h3>
        <div>
            <label for="filter-menu-maximumLevel-0">
                <input name="filter-menu-maximumLevel"
                type="radio"
                id="filter-menu-maximumLevel-0"
                value="0"
                ng-model="fmvm.preferences.maximumLevel"
                ng-change="fmvm.updatePreferences()"
                >
                <span>Beginner</span>
            </label>
        </div>
        <div>
            <label for="filter-menu-maximumLevel-1">
                <input name="filter-menu-maximumLevel"
                type="radio"
                id="filter-menu-maximumLevel-1"
                value="1"
                ng-model="fmvm.preferences.maximumLevel"
                ng-change="fmvm.updatePreferences()"
                >
                <span>Intermediate</span>
            </label>
        </div>
        <div>
            <label for="filter-menu-maximumLevel-2">
                <input name="filter-menu-maximumLevel"
                type="radio"
                id="filter-menu-maximumLevel-2"
                value="2"
                ng-model="fmvm.preferences.maximumLevel"
                ng-change="fmvm.updatePreferences()"
                >
                <span>Advanced</span>
            </label>
        </div>
    </div>
    <div class="filter-menu__section filter-menu__depth-range">
        <h3 class="filter-menu__section-header">
            Maximum depth
        </h3>
        <div class="filter-menu__depth-range-slider-container">
            <input type="range"
            min="0" max="100"
            id="js-information-card__depth-range-slider"
            data-slider-id="information-card__depth-range-slider"
            data-slider-min="0"
            data-slider-max="100"
            data-slider-max="{{fmvm.preferences.maximumDepth}}"
            ng-model="fmvm.preferences.maximumDepth"
            ng-change="fmvm.updatePreferences()"
            >
            <div class="filter-menu__depth-range-slider-value">
                {{ fmvm.preferences.maximumDepth }}
            </div>
        </div>
    </div>
</div>
