<nav class="navbar navbar-default navigation-bar__main shadow-2dp">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-navigation-bar__collapse"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/">
                divesit.es
                <a href class="navbar-brand navigation-bar__toggle-fullscreen" ng-click="nbvm.toggleFullscreen()">
                    <i ng-show="!nbvm.isFullscreen" class="fa fa-fw fa-expand"></i>
                    <i ng-show="nbvm.isFullscreen" class="fa fa-fw fa-compress"></i>
                </a>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navigation-bar__collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/#/"><i class="fa fa-fw fa-globe"></i>Home</a></li>
                <li
                    ng-if="nbvm.isAuthenticated()"
                    ><a href='/#/me'><i class="fa fa-fw fa-user"></i>Profile</a></li>
                <li
                    ng-show="!nbvm.isAuthenticated()"
                    >
                    <a href ng-click="nbvm.summonLoginModal()">
                        <i  class="fa fa-fw fa-sign-in"></i>Sign in
                    </a>
                </li>
                <li
                    ng-show="!!nbvm.isAuthenticated()"
                    >
                    <a href ng-click="nbvm.signOut()">
                        <i class="fa fa-fw fa-sign-out"></i>Sign out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
