<div class="information-card__title" ng-class="{'has-header-image': !!vm.site.headerImageUrl}"
    ng-style="vm.backgroundStyle"
    >
    <div class="information-card__site-title">
        <h2 class="information-card__site-name">
            {{ site.name }}
        </h2>
        <h3 class="information-card__site-location">
            {{ site.locData.join(', ') }}
        </h3>
        <h3 class="information-card__site-owner">
            Added by <a href="/#/users/{{site.owner.id}}/">{{ site.owner.name }}</a>
            <span ng-if="vm.isAuthenticated() && site.owner.id != vm.viewingUserID && vm.followStatusHasLoaded">
                <span>
                    <a class="link--undecorated" href
                        ng-class="{'is-following': vm.userIsFollowingOwner, 'can-follow': !vm.userIsFollowingOwner}"
                        ng-click="vm.toggleFollowing(site.owner,  $event)"
                        >
                        <span class="fa fa-stack">
                            <i class="fa fa-stack-2x fa-circle background"></i>
                            <i class="fa fa-stack-1x"
                                ng-class="{'fa-check': vm.userIsFollowingOwner, 'fa-plus': !vm.userIsFollowingOwner}"></i>
                        </span>
                    </a>
                </span>
            </span>
        </h3>
    </div>
    <div class="information-card__header-actions">
        <div class="overlay-action-item information-card__dismiss-button">
            <span class="fa fa-stack fa-lg">
                <i class="fa fa-stack-2x fa-circle background"></i>
                <i class="fa fa-stack-1x fa-times"></i>
            </span>
        </div>
    </div>
</div>
