<div class="add-site container">
    <form novalidate name="addSiteForm">
        <h1 class="add-site__title">Add a new divesite</h1>
        <section class="add-site__map-section">
            <div class="add-site__map-container">
                <span class="help-block">
                    Drag the marker to place the dive site.
                </span>
                <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
                    <ui-gmap-marker
                        idKey="vm.marker.id"
                        coords="vm.site.coords"
                        options="vm.marker.options"
                        >
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </span>
            <div class="form-group"
                >
                <span class="help-block">
                    You can also edit the coordinates directly
                    and the marker will move automatically.
                </span>
                <div 
                    style="display: flex;"
                    >
                    <input
                    type="text"
                    class="form-control"
                    style="width:30%"
                    ng-model="vm.site.coords.latitude"
                    >
                    <span style="width: 20%"> ° N</span>
                    <input type="text"
                    class="form-control"
                    style="width:30%"
                    ng-model="vm.site.coords.longitude"
                    >
                    <span style="width: 20%"> ° E</span>
                    <!-- {{ vm.site.coords.longitude }} --> 
                </div>
            </div>
        </div>
    </section>
    <section class="add-site__details">
        <section class="site-details__name">
            <div class="form-group form-group-lg"
                ng-class="{'has-error': addSiteForm.siteName.$error.required && (addSiteForm.$submitted || addSiteForm.siteName.$touched)}"
                >
                <label for="bs-add-site__name">
                    <h2>Site name</h2>
                </label>
                <input type="text" class="form-control"
                ng-model="vm.site.name"
                name="siteName"
                ng-required="true"
                id="bs-add-site__name" placeholder="Name"
                style="font-weight: 500"
                >
                <span class="help-block">
                    Give your new site a name.
                </div>
            </section>

            <div class="row">
                <section class="site-details__entries col-sm-6">
                    <div class="form-group"
                        ng-class="{'has-error': (addSiteForm.boatEntry.$error.required && addSiteForm.shoreEntry.$error.required)}"
                        >
                        <h2>Entry types</h2>
                        <div>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="add-site__boat-entry"
                                ng-model="vm.site.boat_entry"
                                name="boatEntry"
                                ng-required="!vm.atLeastOneEntryIsSelected"
                                value="boat_entry"> Boat
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox"
                                id="add-site__shore-entry"
                                ng-model="vm.site.shore_entry"
                                name="shoreEntry"
                                ng-required="!vm.atLeastOneEntryIsSelected"
                                value="shore_entry"> Shore
                            </label>
                        </div>
                        <span class="help-block">
                            Select at least one entry type.
                        </span>
                    </div>
                </section>
                <section class="site-details__level col-sm-6">
                    <div class="form-group"
                        ng-class="{'has-error': addSiteForm.addSiteExperienceLevel.$error.required && (addSiteForm.$submitted || addsiteForm.addSiteExperienceLevel.$touched )}"
                        >
                        <h2>Experience level</h2>
                        <label class="radio-inline">
                            <input type="radio" name="addSiteExperienceLevel"
                            ng-model="vm.site.level"
                            ng-required="true"
                            id="add-site-experience-level-0" value="0"> Beginner
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="addSiteExperienceLevel"
                            ng-model="vm.site.level"
                            ng-required="true"
                            id="add-site-experience-level-1" value="1"> Intermediate
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="addSiteExperienceLevel"
                            ng-model="vm.site.level"
                            ng-required="true"
                            id="add-site-experience-level-2" value="2"> Advanced
                        </label>
                        <span class="help-block">
                            Select an appropriate experience level.
                        </span>
                    </div>
                </section>
            </div>
        </section>
        <section class="add-site__description">
            <h3>Description</h3>
            <textarea
                class="form-control"
                style="font-weight: 500"
                ></textarea>
            <span class="help-block">
                Optional: describe this divesite.
            </span>
        </section>
        <section class="add-site__submit ds-form__submit-row">
            <button type="submit" class="btn btn-default big-button"
                ng-disabled="vm.isSaving"
                ng-click="!vm.isSaving && vm.submit()">
                <span
                    class="fa fa-fw fa-spinner fa-spin"
                    ng-show="vm.isSaving"
                    ></span>
                <span
                    ng-show="!vm.isSaving"
                    >Save
                </span>
            </button>
        </section>
    </form>
</div>
