<div class="edit-site container">
    <form novalidate name="siteForm">
        <h1 class="edit-site__title">Add a new divesite</h1>
        <section class="edit-site__map-section">
            <editable-site-map></editable-site-map>
        </section>
        <section class="edit-site__details">
            <section class="site-details__name">
                <div class="form-group ds-form-group-lg"
                    ng-class="{'has-error': siteForm.siteName.$error.required && (siteForm.$submitted || siteForm.siteName.$touched)}"
                    >
                    <label for="bs-edit-site__name">
                        Site name
                    </label>
                    <input type="text" class="form-control"
                    ng-model="vm.site.name"
                    name="siteName"
                    ng-required="true"
                    id="bs-edit-site__name" placeholder="Name"
                    style="font-weight: 500"
                    >
                    <span class="help-block">
                        Give your new site a name.
                    </span>
                </div>
            </section>

            <div class="row">
                <section class="site-details__entries col-sm-6">
                    <div class="form-group"
                        ng-class="{'has-error': (siteForm.boatEntry.$error.required && siteForm.shoreEntry.$error.required)}"
                        >
                        <h2>Entry types</h2>
                        <div>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="edit-site__boat-entry"
                                ng-model="vm.site.boat_entry"
                                name="boatEntry"
                                ng-required="!vm.atLeastOneEntryIsSelected"
                                value="boat_entry"> Boat
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox"
                                id="edit-site__shore-entry"
                                ng-model="vm.site.shore_entry"
                                name="shoreEntry"
                                ng-required="!vm.atLeastOneEntryIsSelected"
                                value="shore_entry"> Shore
                            </label>
                        </div>
                        <span class="help-block">
                            Select at least one entry type.
                        </span>
                    </div>
                </section>
                <section class="site-details__level col-sm-6">
                    <div class="form-group"
                        ng-class="{'has-error': siteForm.addSiteExperienceLevel.$error.required && (siteForm.$submitted || addsiteForm.addSiteExperienceLevel.$touched )}"
                        >
                        <h2>Experience level</h2>
                        <label class="radio-inline">
                            <input type="radio" name="addSiteExperienceLevel"
                            ng-model="vm.site.level"
                            ng-required="true"
                            id="edit-site-experience-level-0" value="0"> Beginner
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="addSiteExperienceLevel"
                            ng-model="vm.site.level"
                            ng-required="true"
                            id="edit-site-experience-level-1" value="1"> Intermediate
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="addSiteExperienceLevel"
                            ng-model="vm.site.level"
                            ng-required="true"
                            id="edit-site-experience-level-2" value="2"> Advanced
                        </label>
                        <span class="help-block">
                            Select an appropriate experience level.
                        </span>
                    </div>
                </section>
            </div>
        </section>
        <section class="edit-site__description">
            <h3>Description</h3>
            <textarea
                class="form-control"
                style="font-weight: 500"
                ></textarea>
            <span class="help-block">
                Optional: describe this divesite.
            </span>
        </section>
        <section class="edit-site__header-image">
            <h3>Header image</h3>
            <span class="help-block">
                Optional: give this site a header image.
            </span>
            <div class="edit-site__header-image-container">
                <div 
                    ng-if="!!vm.site.headerImageUrl"
                    style="height: 200px; position: relative;"
                    ng-style="{'background': 'url(\'' + vm.site.headerImageUrl + '\') center / cover'}">
                    <a
                        href
                        ng-click="vm.prepareToDeleteExistingHeaderImage()"
                        style="position: absolute; top: 16px; right: 16px;">
                        <span class="fa fa-stack fa-stack-lg overlay-action-item text-shadow-2dp">
                            <i class="fa fa-stack-2x fa-circle background"></i>
                            <i class="fa fa-stack-1x fa-times"></i>
                        </span>
                    </a>
                </div>
                <div
                    ng-if="!vm.site.headerImageUrl"
                    >
                    <form>
                        <input
                        type="file"
                        ng-model="vm.imgFile"
                        ngf-select
                        >
                        <div class="thumb-preview-container"
                            style="position: relative"
                            ng-if="vm.imgFile"
                            >
                            <a
                                href
                                ng-click="vm.removeImageThumbnail()"
                                style="position: absolute; top: 16px; right: 16px;"
                                >
                                <span class="fa fa-stack fa-stack-lg overlay-action-item">
                                    <i class="fa fa-stack-2x fa-circle background"></i>
                                    <i class="fa fa-stack-1x fa-times"></i>
                                </span>
                            </a>
                            <img
                            class="thumb-preview"
                            ngf-thumbnail="vm.imgFile"
                            >
                        </div>
                    </div>
                </div>
            </section>

            <section class="edit-site__submit ds-form__submit-row">
                <button
                    class="btn btn-default big-button"
                    ng-click="vm.summonCancelEditingModal()"
                    >
                    Quit
                </button>
                <button type="submit"
                    class="btn btn-default big-button"
                    ng-disabled="vm.isSaving"
                    ng-click="!vm.isSaving && vm.submit()">
                    <span
                        class="fa fa-fw fa-spinner fa-spin"
                        ng-show="vm.isSaving"
                        ></span>
                    <span
                        ng-show="!vm.isSaving"
                        >Save
                    </span>
                </button>
            </section>
        </form>
    </div>
