<div class="editable-site-map-container">
    <span class="help-block">
        Drag the marker to place the dive site.
    </span>
    <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
        <ui-gmap-marker
            idKey="vm.marker.id"
            coords="vm.site.coords"
            events="vm.marker.events"
            options="vm.marker.options"
            >
        </ui-gmap-marker>
    </ui-gmap-google-map>
</div>
<div class="form-group"
    >
    <span class="help-block">
        You can also edit the coordinates directly
        and the marker will move automatically.
    </span>
    <div 
        style="display: flex;"
        >
        <input
        type="text"
        class="form-control"
        style="width:30%"
        ng-model="vm.site.coords.latitude"
        ng-change="vm.maintainCoordinateMaxLength()"
        >
        <span style="width: 20%"> ° N</span>
        <input type="text"
        class="form-control"
        style="width:30%"
        ng-model="vm.site.coords.longitude"
        ng-change="vm.maintainCoordinateMaxLength()"
        >
        <span style="width: 20%"> ° E</span>
    </div>
</div>
