<div class="information-card shadow-2dp" ng-show="icvm.visible">
    <div class="information-card__title" ng-class="{'has-header-image': !!icvm.site.headerImageUrl}"
        ng-style="icvm.backgroundStyle"
        >
        <div class="information-card__divesite-title">
            <h2 class="information-card__divesite-name">
                {{ icvm.site.name }}
            </h2>
            <h3 class="information-card__divesite-owner">
                Added by <a href="/#/users/{{icvm.site.owner.id}}/">{{ icvm.site.owner.name }}</a>
            </h3>
        </div>
    </div>
    <div class="information-card__header-actions">
        <a href
            class="overlay-action-item"
            ng-click="icvm.dismiss()">
            <span class="fa fa-stack fa-2x">
                <i class="fa fa-stack-2x fa-circle background"></i>
                <i class="fa fa-stack-1x fa-times"></i>
            </span>
        </a>
    </div>
    <div>
        <div class="information-card__divesite-coordinates">
            <div class="information-card__divesite-coordinate">
                {{ icvm.site.latitude }} ° N
            </div>
            <div class="information-card__divesite-coordinate">
                {{ icvm.site.longitude }} ° E
            </div>
        </div>
        <div class="information-card__charts">
            <div class="information-card__chart">
                <a class="information-card__chart chart-header"
                    id="js-information-card__depth-chart-toggle"
                    data-toggle="collapse"
                    data-target="#information-card__depth-collapse">
                    <div class="information-card__chart chart-header__text">
                        Average maximum depth: {{ icvm.site.depth | number:0 }} m
                    </div>
                    <span
                        ng-if="icvm.site.depth"
                        class="information-card__chart chart-header__chevron fa fa-chevron-down"></span>
                </a>
                <div
                    ng-show="icvm.site.dives.length"
                    class="collapse"
                    id="information-card__depth-collapse">
                    <div class="">
                        <div
                            class="information-card-chart-container"
                            id="information-card-depth-histogram-container"
                            style="height: 200px"
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="information-card__chart">
                <a href class="information-card__chart chart-header"
                    id="js-information-card__duration-chart-toggle"
                    data-toggle="collapse"
                    data-target="#information-card__duration-collapse">
                    <div class="information-card__chart chart-header__text">
                        Average dive duration: {{ icvm.site.duration }} min.
                    </div>
                    <span
                        ng-if="icvm.site.duration"
                        class=" information-card__chart chart-header__chevron fa fa-chevron-down"></span>
                </a>
                <div
                    ng-show="icvm.site.dives.length"
                    class="collapse"
                    id="information-card__duration-collapse">
                    <div class="">
                        <div
                            class="information-card-chart-container"
                            id="information-card-duration-histogram-container"
                            style="height: 200px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            {{ icvm.site.description }}
        </div>
        <ul class="list-unstyled action-menu">
            <li
                ng-if="icvm.userIsOwner(icvm.site)"
                class="action-item"
                >
                <a href="/#/edit-site/{{icvm.site.id}}">
                    <span class="fa fa-pencil-square action-item__icon"></span>
                    <span class="action-item__text">Edit this site</span>
                </a>
            </li>
            <li
                ng-if="icvm.isAuthenticated()"
                class="action-item">
                <a href="/#/log-dive/{{icvm.site.id}}">
                    <span class="fa fa-list action-item__icon"
                        ></span>
                    <span class="action-item__text">Log a dive here</span>
                </a>
            </li>
            <li
                ng-if="icvm.isAuthenticated()"
                class="action-item"
                >
                <a href>
                    <span
                        class="fa fa-camera action-item__icon"
                        ></span>
                    <span class="action-item__text">Add a picture</span>
                </a>
            </li>
            <li
                ng-if="icvm.isAuthenticated()"
                class="action-item"
                >
                <a href class="text-danger">
                    <span
                        class="fa fa-exclamation-circle action-item__icon"
                        ></span>
                    <span class="action-item__text">Report a problem</span>
                </a>
            </li>
        </ul>
        </div>



        <div class="information-card__dive-list">
            <h3 class="dive-list__title">Dives</h3>
            <div class="information-card__dive" ng-repeat="dive in icvm.site.dives | orderBy:'-'"
                editable="{{dive.diver.id == icvm.userId}}"
                >
                <div class="information-card__dive-header">
                    <div class="information-card__dive-image">
                        <img ng-src="{{ dive.diver.profileImageUrl }}"
                        height="60" width="60" />
                    </div>
                    <div class="information-card__dive-details">
                        <div class="">
                            <a href="/#/users/{{dive.diver.id}}/">{{ dive.diver.name }}</a>
                        </div>
                        <div class="">
                            {{ dive.start_time | date:'d MMM yyyy' }}
                            at
                            {{ dive.start_time | date:'HH:mm' }}
                        </div>
                        <span class="">{{ dive.depth }} m</span>
                        <span class="">{{ dive.duration | duration }} minutes</span>
                        <a
                            href
                            ng-if="dive.diver.id == icvm.userId"
                            class="information-card__edit-this-dive"
                            >
                            <span class="fa fa-fw fa-pencil-square"></span>
                        </div>
                    </div>
                </div>
                <div class="information-card__dive-comment">
                    {{ dive.comment }}
                </div>
            </div>
        </div>
    </div>
</div>
