<div class="information-card mdl-card mdl-shadow--2dp" ng-show="icvm.visible">
    <div><!-- this empty container forces MDL to scroll on overflow -->
        <div class="mdl-card__title" ng-class="{'has-header-image': !!icvm.site.header_image_url}"
            ng-style="{'background': 'url(\'' + icvm.site.header_image_url + '\') center / cover'}"
            >
            <h2 class="mdl-card__title-text">
                {{ icvm.site.name }}
            </h2>
        </div>
        <div class="mdl-card__menu"
            ng-class="{'has-header-image': !!icvm.site.header_image_url}">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
                ng-click="icvm.dismiss()">
                <i class="material-icons">close</i>
            </button>
        </div>
        <div class="mdl-card__supporting-text">
            <div class=mdl-grid">
                <div class="mdl-cell mdl-cell--2-col">
                    {{ icvm.site.latitude }} N
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                    {{ icvm.site.longitude }} W
                </div>
            </div>
            <div class="mdl-collapse">
                <a href class="mdl-collapse__button">
                    Average maximum depth: {{ icvm.site.depth | number:0 }} m
                    <i class="material-icons mdl-collapse__icon mdl-animation--default">expand_more</i>
                </a>
                <div class="mdl-collapse__content-wrapper">
                    <div class="mdl-collapse__content mdl-animation--default">
                        <div
                            class="information-card-chart-container svg-container"
                            id="information-card-depth-histogram-container"
                            style="height: 200px"
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-collapse">
                <a href class="mdl-collapse__button">
                    Average dive duration: {{ icvm.site.averageDuration | number:0 }} min.
                    <i class="material-icons mdl-collapse__icon mdl-animation--default">expand_more</i>
                </a>
                <div class="mdl-collapse__content-wrapper">
                    <div class="mdl-collapse__content mdl-animation--default">
                        <div
                            class="information-card-chart-container svg-container"
                            id="information-card-duration-histogram-container"
                            style="height: 200px;">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                {{ icvm.site.description }}
            </div>
            <div>
                <div class="clearfix dive" ng-repeat="dive in icvm.site.dives | orderBy:'-'">
                    <div class="dive__diver-image">
                        <img ng-src="{{ dive.user.picture }}"
                        height="54" width="54" />
                    </div>
                    <div class="dive__details">
                        <div class="dive__diver">
                            <a href="/#/users/{{dive.diver.id}}/">{{ dive.diver.name }}</a>
                        </div>
                        <div class="dive__start-time">
                            {{ dive.start_time | date:'d MMM yyyy' }}
                            at
                            {{ dive.start_time | date:'HH:mm' }}
                        </div>
                        <span class="dive__depth">{{ dive.depth }} m</span>
                        <span class="dive__duration">{{ dive.duration | duration }} minutes</span>
                    </div>
                    <div class="dive__comment" ng-show="!!dive.comment">
                        {{ dive.comment }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
