<div class="main-map">
    <filter-menu></filter-menu>
    <ui-gmap-google-map center='mc.map.center' zoom='mc.map.zoom'
        events='mc.mapEvents'
        options='mc.options'
        >
        <ui-gmap-markers
            coords="'loc'"
            events="mc.markerEvents"
            models="mc.mapMarkers"
            options="'options'"
            icon="'icon'"
            >
        </ui-gmap-markers>
        <ui-gmap-markers
            coords="'loc'"
            events="mc.slipwayMarkerEvents"
            icon="'icon'"
            models="mc.slipwayMarkers"
            options="'options'"
            >
        </ui-gmap-markers>
        <ui-gmap-markers
            coords="'loc'"
            events="mc.compressorMarkerEvents"
            icon="'icon'"
            models="mc.compressorMarkers"
            options="'options'"
            >
        </ui-gmap-markers>
    </ui-gmap-google-map>
    <a href="/#/add-site/" class="main-map__add-site-button text-shadow-2dp">
        <span class="fa-stack text-shadow-2dp">
            <i class="fa fa-fw fa-stack-2x fa-circle text-shadow-2dp"></i>
            <i class="fa fa-fw fa-stack-1x fa-plus"></i>
        </span>
    </a>
</div>
