<div class="main-map">
    <filter-menu></filter-menu>
    <ui-gmap-google-map center='mc.map.center' zoom='mc.map.zoom'
        events='mc.mapEvents'
        options='mc.options'
        >
        <ui-gmap-markers
            coords="'loc'"
            events="mc.markerEvents"
            models="mc.mapMarkers"
            options="'options'"
            icon="'icon'"
            >
        </ui-gmap-markers>
        <ui-gmap-markers
            coords="'loc'"
            events="mc.slipwayMarkerEvents"
            icon="'icon'"
            models="mc.slipwayMarkers"
            options="'options'"
            >
        </ui-gmap-markers>
        <ui-gmap-markers
            coords="'loc'"
            events="mc.compressorMarkerEvents"
            icon="'icon'"
            models="mc.compressorMarkers"
            options="'options'"
            >
        </ui-gmap-markers>
    </ui-gmap-google-map>
    <add-something-menu ng-show="mc.isAuthenticated()"></add-something-menu>
</div>
