<div class="profile container">
    <section class="profile__header">
        <div class="profile__header-image">
            <img src="http://lorempixel.com/200/200" />
        </div>
        <div class="profile__header-details">
            <h1 class="profile__header-name">{{ pcvm.user.name }}</h1>
            <span>Member since {{ pcvm.user.date_joined | date }}</span>
            <ul class="list-unstyled profile__header-dive-stats-list">
                <li class="dive-stat">
                    <div class="dive-stat__number">
                        {{ pcvm.user.divesites.length }}
                    </div>
                    <div class="dive-stat__desc">
                        Divesites created
                    </div>
                </li>
                <li class="dive-stat">
                    <div class="dive-stat__number">
                        {{ pcvm.user.dives.length }}
                    </div>
                    <div class="dive-stat__desc">
                        Dives logged
                    </div>
                </li>
                <li class="dive-stat">
                    <div class="dive-stat__number">
                        {{ pcvm.user.hours_underwater }}
                    </div>
                    <div class="dive-stat__desc">
                        Hours underwater
                    </div>
                </li>
                <li class="dive-stat">
                    <div class="dive-stat__number">
                        {{ pcvm.user.divesites_visited }}
                    </div>
                    <div class="dive-stat__desc">
                        Divesites visited
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="profile__dive-log">
        <div class="row">
            <h2 class="col-xs-8 col-xs-offset-4">Dive log</h2>
        </div>
        <div class="profile__dive row" ng-repeat="dive in pcvm.user.dives | orderBy:'-'">
                <div class="col-xs-4 dive__details">
                    <div class="dive__start-time">
                        {{ dive.start_time | date }}
                        {{ dive.start_time | date:'HH:mm'}}
                    </div>
                    <div>
                        {{ dive.depth }} m
                    </div>
                    <div>
                        {{ dive.duration | duration }} min.
                    </div>
                </div>
                <div class="col-xs-8">
                    <h3 class="dive__divesite-name">
                        {{ dive.divesite.name }}
                    </h3>
                    <div>
                        {{ dive.comment }}
                    </div>
                </div>
        </div>
    </section>
</div>


<!--
<section class="">
    <div class="">
        <div class="">
            <h4 class="">Recent activity</h2>
            <div class=""
                ng-repeat="activity in pcvm.recentActivity"
                >
                {{ pcvm.user.name }} {{ activity.dive ? 'logged a dive' : 'created a divesite'}}
                {{ activity.creation_date | date }}
                <div ng-if="activity.dive">
                    <a ng-href="#/divesites/{{activity.dive.divesite.id}}">{{ activity.dive.divesite.name }}</a>
                </div>
                <div ng-if="activity.divesite">
                    <a ng-href="#/divesites/{{activity.divesite.id}}">{{ activity.divesite.name }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="">
        <div class="">
            <div class="">
                <a class="" href="#tab-dive-list">Dives logged</a>
                <a class="" href="#tab-divesite-list">Divesites added</a>
            </div>
        </div>
        <div class="">
            <div class=""
                id="tab-dive-list">
                <div class="">
                    <div class=""
                        ng-if="!pcvm.user.dives"> None yet!</div>
                    <div
                        class=""
                        ng-if="!!pcvm.user.dives"
                        ng-repeat="dive in pcvm.user.dives | orderBy:'-'">
                        <div class="">
                            <div class=""> {{ dive.divesite.name }}</div>
                        </div>
                        <div class="">
                            <div> {{ dive.start_time | date }} </div>
                            <div> {{ dive.duration  | duration }} minutes </div>
                            <div> {{ dive.depth | number:1 }} </div>
                            <div ng-if="dive.comment"> {{ dive.comment }} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=""
            id="tab-divesite-list">
            <div class="">
                <div class=""
                    ng-if="!pcvm.user.divesites">None yet!</div>
                <div
                    ng-repeat="divesite in pcvm.user.divesites | orderBy:'-'"
                    class=""
                    ng-if="!!pcvm.user.divesites"
                    ng-style="{background: 'url(' + divesite.header_image_url + ') center / cover'}"
                    >
                    <div class="">
                        <h2 class="">
                            <a ng-href="#/divesites/{{divesite.id}}/">{{ divesite.name }}</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
