<div class="profile-header">
    <div class="profile-header__image col-sm-4">
        <div ng-if="user.profileImage">
            <img ng-src="{{user.profileImage}}" />
            <a href
                ng-click="vm.summonProfileImageUploadModal()"
                ng-if="editable"
                class="profile-header__image-edit-button"
                >
                <i class="fa fa-fw fa-pencil-square fa-2x"><span class="sr-only">Edit</span></i>
            </a>
        </div>
        <div ng-if="!user.profileImage"
            class="profile-header--no-image-outer"
            >
            <div
                ng-if="editable"
                class="profile-header--no-image-inner">
                <a href class="profile-header-no-image-link">
                    <i class="fa fa-fw fa-user fa-3x"></i>
                    <div>Add a profile image!</div>
                </a>
            </div>
            <div ng-if="!editable"
                class="profile-header--no-image-inner">
                <i class="fa fa-fw fa-user fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="profile-header__details col-sm-8">
        <h1 class="profile-header__name">
            <span>
                {{ user.name }}
            </span>
            <a href
                ng-if="editable"
                class="own-profile__flex-edit-button">
                <i class="fa fa-fw fa-pencil-square"></i>
            </a>
        </h1>
        <div class="profile-header__member-since">
            Member since {{ user.date_joined | date:'MMMM yyyy' }}
        </div>
        <profile-stats user="user"></profile-stats>
        <div
            ng-if="editable"
            class="profile-header__actions">
            <ul class="list-unstyled profile-header__actions-list">
                <li class="action-item">
                    <a href>
                        <span>
                            <i class="fa fa-fw fa-2x fa-pencil action-item__icon"></i>
                        </span>
                        <span class="action-item__desc">
                            Log a dive
                        </span>
                    </a>
                </li>
                <li class="action-item">
                    <a href="/#/add-site">
                        <span>
                            <i class="fa fa-fw fa-2x fa-map-marker action-item__icon"></i>
                        </span>
                        <span class="action-item__desc">
                            Add a divesite
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
