<div style="background: black">
    <div>
        <a
            href
            class="fa fa-stack"
            style="position: absolute; top: 8px; right: 8px";
            >
            <i class="fa fa-stack-2x fa-circle"
                style="color: rgba(0, 0, 0, 0.17)"
                ></i>
            <i class="fa fa-stack-1x fa-times"
                style="color: #fff"
                ></i>
        </a>
    </div>
    <img
    style="max-height: 100%; max-width: 100%;"
    ng-src="{{image.url}}"
    />
</div>
