<div class="show-full-size__container">
    <div
        class="show-full-size__image-container"
        >
        <img
        class="show-full-size__image"
        ng-src="{{image.image.url}}"
        />
    </div>
    <div class="show-full-size__details-container">
        <div class="details__user-profile-image">
            <img ng-src="{{vm.user.imageUrl}}" height="60" width="60" />
        </div>
        <div class="details__user-name">
            {{ vm.user.name }}
        </div>
    </div>
</div>
