<div class="upload-divesite-image container ds-form">
    <h1 class="upload-divesite-image__header">
        Upload an image for <span class="header__divesite-name">{{ vm.site.name }}</span>
    </h1>
    <form novalidate name="uploadForm">
        <section>
            <input
            type="file"
            ngf-select
            ng-model="vm.imgFile"
            name="file"
            accept="image/*"
            required
            />
        </section>
        <section class="ds-form__submit-row">
            <button
                type="button"
                class="btn btn-default big-button"
                ng-click="vm.summonCancelUploadModal()"
                >
                Quit
            </button>
            <button
                type="submit"
                class="btn btn-primary big-button"
                ng-disabled="!uploadForm.$valid"
                ng-click="vm.submit(vm.imgFile)"
                >
                <span
                    class="fa fa-fw fa-spinner fa-spin"
                    ng-show="vm.isSaving"
                    >
                </span>
                <span
                    ng-show="!vm.isSaving"
                    >
                    Upload
                </span>
            </button>
        </section>
    </form>
</div>
