<div style="display: flex">
    <span>
        <input type="text"
        maxlength="2"
        ng-model="hours"
        ng-change="updateHours()"
        class="text-center form-control ds-form-control">
    </span>
    <span
        style="font-size:30px; font-weight: 500; margin-left: 0.2em; margin-right: 0.2em; padding-top: 6px; padding-bottom: 6px;"
        >:</span>
    <span>
        <input type="text"
        maxlength="2"
        ng-model="minutes"
        ng-change="updateMinutes()"
        class="text-center form-control ds-form-control">
    </span>
    <span
        ng-style="{'visibility': showMeridian ? 'visible' : 'hidden'}"
        ng-click="toggleMeridian()"
        style="font-size:30px; padding-top: 8px; line-height: 1.42857143; cursor: pointer; width: 100%; text-align: center;"
        >
        {{meridian}}
    </span>
</div>
